@import "../../../scss/var";
$link--main: $highlight;
$link--hover:minify-darken($link--main, 10);
//disable default
$link--color--disable:$disable--color;
//inport var -- here
@import "../../../scss/re-var";
$link--color:$link--main;
.link {
  display: inline;
  padding: 0;
  margin: 0;
  background: transparent;
  color: $link--color;
  outline: none;
  line-height: normal;
  border: none;
  border-bottom: 1px solid $link--main;
  text-decoration: none;
  cursor: pointer;
  &:active,
  &.active {}
  &.disabled {
    color: $link--color--disable;
    cursor: not-allowed;
    pointer-events: none;
  }
  &:hover {
    color: $link--hover;
    border-bottom: 1px solid $link--hover;
  }
  &_text {
    border: none;
    &:hover {
      border: none;
    }
  }
}
