{% macro link(href, class, text ) %}
{# , desc, desc-class #}
{# desc - описаные ссылки #}
{# desc-class - классы описания #}
    {# сдеалть на будущее link__desc_hover_show  -класс модификатор показывать при наведении #}
    {# {% if desc %}
        <span class="link__desc {{ desc-class }}">{{ desc }}</span>
    {% endif %} #}
{# data- #}

<a href="{{href}}" class="link {{class}}" >
    {{ text }}
</a>

{% endmacro %}
