{% macro block(blockClass, titleText, titleClass, content, contentClass, buttons = [{class:'btn_secondary', href:'#', text:'Посмотреть все' }], props) %}
    <section class="block {{blockClass}}" {{props}}>
        {# <div class="block__header"> #}

            {% if titleText %}
            <h2 class="block__title {{titleClass}}">{{titleText}} </h2>
            {% endif %}
            {% if (buttons | length > 0) %}
            <div class="block__buttons">
                {% for button in buttons %}
                    {% if button.href %}
                        <a href="{{button.href}}" class="btn block__btn {{button.class}}">
                            {{button.text}}
                        </a>
                    {% else %}
                        <button class="btn block__btn {{button.class}}">
                            {{button.text}}
                        </button>
                    {% endif %}

                {% endfor %}
            </div>
            {% endif %}
        {# </div> #}
        <div class="block__content {{contentClass}}">
            {{ content | safe}}
        </div>
    </section>
{% endmacro %}
