@import "../../../scss/var";
.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  align-items: center;
  margin: 40px 0 20px; // &__header {
  //   display: flex;
  //   justify-content: flex-end;
  //   align-items: center;
  //   margin-bottom: 30px;
  // }
  &__title {
    margin: 0;
    flex-grow: 1; // flex: 1;
    font-size: rem(48);
    text-align: left;
  }
  &__buttons {
    flex-grow: 1;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__btn {
    width: 183px; // flex: 1;
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .block {
    &__header {
      margin-bottom: 22px;
    }
    &__title {
      font-size: rem(30);
    }
    &__btn {
      margin-left: rem(20);
    }
    &__content {}
  }
}

@media (max-width: 425px) {
  .block {
    margin: 25px 0 0;
    &__header {
      margin-bottom: 16px;
    }
    &__title {
      font-size: rem(18);
    }
    &__btn {
      margin-left: rem(14);
      flex-grow: 1;
    }
    &__buttons {
      order: 1;
      width: 100%;
      margin: 12px 0 0;
    }
    &__content {
      margin-top: 8px;
    }
  }
}
