@import "../../../scss/var";
//стандарт
$btn--h:48px;
$btn--w:285px;
$btn--mobile--h:32px;
$btn--mobile--w:100%;
$btn--border-radius:0px;
//======================================
//========== button ====================
//======================================
$btn--main: $highlight;
// $btn--color: $highlight-text-color;
//button .disabled
$btn--main--disable--bg-color: $disable--bg-color;
$btn--main--disable--color: $disable--color;
$btn--border-radius: 2px;
//стандарт
$btn--bg-color:$btn--main;
//hover
$btn--bg-color--hover:minify-lighten($btn--bg-color, 10);
$btn--color--hover:$btn--color;
//active (pressed)
$btn--bg-color--active:minify-darken($btn--bg-color, 10);
$btn--color--active:$btn--color;
//disable (disable)
$btn--bg-color--disable:$btn--main--disable--bg-color;
$btn--color--disable:$btn--main--disable--color;
//модификатор _secondary
$btn--secondary--bg-color:transparent;
$btn--secondary--border-color:$btn--main;
$btn--secondary--color:$btn--main;
$btn--secondary--border:2px;
//_secondary hover
$btn--secondary--bg-color--hover:$btn--main;
$btn--secondary--color--hover:$btn--color;
//_secondary active (pressed)
$btn--secondary--bg-color--active:darken($btn--bg-color, 10);
$btn--secondary--color--active:$btn--color;
//_secondary disable (disable)
$btn--secondary--bg-color--disable:transparent;
$btn--secondary--color--disable:$btn--main--disable--color;
$btn--secondary--border--color--disable:$btn--main--disable--color;
// _round_x
$radius:(2, 4, 5, 8, 10, 24, 48);
//inport var -- here
@import "../../../scss/re-var";
.btn {
  display: block;
  color: $btn--color;
  background-color: $btn--bg-color;
  height: $btn--h;
  width: $btn--w;
  padding: 0;
  font-family: $font-family;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: $btn--h;
  border: none;
  border-radius: $btn--border-radius;
  &:hover {
    cursor: pointer;
    color: $btn--color--hover;
    background-color: $btn--bg-color--hover;
  }
  &:active,
  &.active {
    color: $btn--color--active;
    background-color: $btn--bg-color--active;
  }
  &.disabled {
    color: $btn--main--disable--color;
    background-color: $btn--main--disable--bg-color;
    cursor: not-allowed;
    &:hover,
    &:active {
      color: $btn--main--disable--color;
      background-color: $btn--main--disable--bg-color;
    }
  }
  &:focus {
    outline: none;
  }
  &_secondary {
    color: $btn--secondary--color;
    background-color: $btn--secondary--bg-color;
    line-height: $btn--h;
    box-shadow: inset 0px 0px 0px $btn--secondary--border $btn--secondary--border-color;
    &:hover {
      color: $btn--secondary--color--hover;
      background-color: $btn--secondary--bg-color--hover;
    }
    &:active {
      color: $btn--secondary--color--active;
      background-color: $btn--secondary--bg-color--active;
      box-shadow: inset 0px 0px 0px $btn--secondary--bg-color--active;
    }
    &.disabled {
      color: $btn--main--disable--color;
      background-color: $btn--secondary--bg-color;
      box-shadow: inset 0px 0px 0px $btn--secondary--border $btn--secondary--border--color--disable;
      cursor: not-allowed;
      &:hover,
      &:active {
        color: $btn--main--disable--color;
        background-color: $btn--secondary--bg-color;
        box-shadow: inset 0px 0px 0px $btn--secondary--border $btn--secondary--border--color--disable;
      }
    }
  }
  &_center {
    margin-left: auto;
    margin-right: auto;
  }
  &_round_all {
    border-radius: $btn--h/2;
  }
  @each $r in $radius {
    &_round_#{$r} {
      border-radius: $r+0px;
    }
  }
}

@media (max-width: 425px) {
  .btn {
    height: $btn--mobile--h;
    width: $btn--mobile--w;
    line-height: $btn--mobile--h;
    font-size: rem(14);
  }
}
