@import "../../../scss/var";
$table--btn--h:32px;
$table--color:#CFD5E5;
$table--btn--color:$table--color;
//hover
$table--color--hover:#FFFFFF;
$table--btn--color--hover:$highlight;
.table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  margin: 7.5px 0;
  color: $table--color; // &__header {
  //   display: flex;
  //   justify-content: flex-end;
  //   align-items: center;
  //   margin-bottom: 30px;
  // }
  &__name {
    margin: 0;
    flex-grow: 1; // flex: 1;
    font-size: rem(18);
    line-height: rem(21);
    text-align: left;
  }
  &__price {
    max-width: 60px;
    min-width: 30px;
    margin: 0 20px;
    text-align: right;
  }
  &__remTime {
    max-width: 60px;
    min-width: 30px;
    margin: 0 20px;
    text-align: left;
  }
  &__btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  &__btn {
    width: 183px; // flex: 1;
    // margin-left: 5px 60px;
    height: $table--btn--h;
    line-height: $table--btn--h; // text-align: center;
    color: $table--btn--color;
    box-shadow: inset 0px 0px 0px 1px $table--btn--color;
    &:hover {
      color: $table--btn--color--hover;
      box-shadow: inset 0px 0px 0px 1px $table--btn--color--hover;
      background-color: transparent;
    }
  }
  &:hover {
    color: $table--color--hover;
    .table-row {
      &__btn {
        color: $table--btn--color--hover;
        box-shadow: inset 0px 0px 0px 1px $table--btn--color--hover;
        background-color: transparent;
      }
    }
  }
}

@media (max-width: 768px) {
  .table-row {
    &__header {
      margin-bottom: 22px;
    }
    &__name {
      font-size: rem(18);
      width: 50%;
    }
    &__btn {
      font-size: rem(18);
    }
    &__content {}
  }
}

@media (max-width: 425px) {
  .table-row {
    flex-wrap: wrap;
    margin: 25px 0 0;
    &__header {
      margin-bottom: 16px;
    }
    &__name {
      font-size: rem(16);
      flex-shrink: 1; // width: 50%;
      width: 100%;
    }
    &__btns {
      // width: 100%;
      flex-grow: 1;
    }
    &__btn {
      font-size: rem(16); // flex-grow: 1;
      flex-grow: 1;
      width: auto;
    }
    &__content {
      margin-top: 8px;
    }
  }
}
