{% macro tableRow(name, remTime, price, btn = [{text:'Заказать'}], rowClass, props) %}
    <div class="table-row {{rowClass}}" {{props}}>
        {# <div class="block__header"> #}
        <div class="table-row__name" >
            {{name}}
        </div>
        <div class="table-row__remTime" >
            {{remTime}}
        </div>
        <div class="table-row__price" >
            {{price}}
        </div>
        {% if (btn | length > 0 ) %}
        <div class="table-row__btns" >
            {% for item in btn %}
            <div class="btn btn_secondary table-row__btn">
                {{ item.text }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
{% endmacro %}
