@import "../../../scss/var";
@import "../../../scss/re-var";
.select2 {
  // flex-grow: 1;
  // width: 100%/4;
}

.select2-container,
.select__btn {
  width: 24%;
  margin-bottom: 10px;
}

.select2-container--default {
  & .select2-selection--single {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: #2A2F3D;
    box-shadow: none;
    border-radius: 2px;
    &:focus {
      outline: none;
    }
    & .select2-selection__arrow {
      position: relative;
      padding-right: 15px;
      & b {
        border-color: #FF823B transparent transparent transparent;
      }
    }
    & .select2-selection {
      &__rendered {
        color: #CFD5E6;
        font-size: rem(18);
        padding-left: 15px;
      }
      &__placeholder {
        color: #CFD5E6;
      }
    }
  }
  &.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #FF823B transparent;
  }
  & .select2-results__option {
    padding: 6px 15px;
  }
  & .select2-results__option--highlighted[aria-selected] {
    background-color: #FF823B;
    color: #FFFFFF;
    &:active {
      background-color: minify-darken(#FF823B, 10);
    }
  }
  & .select2-results__option[aria-selected=true] {
    background-color: #FF823B;
    color: #FFFFFF;
  }
  .select2-dropdown {
    background-color: #2A2F3D;
    border: none;
    border-radius: 2px;
    & .select2-search__field {
      border: 1px solid #FF823B;
      outline: none;
      box-sizing: border-box;
      padding: 6px 15px; // margin: 3px;
      background-color: transparent;
      color: #CFD5E6;
      font-family: $font-family;
      font-size: rem(18);
      &:focus {
        border: 1px solid #FF823B;
      }
    }
  }
}

@media (max-width: 768px) {
  .select2-container,
  .select__btn {
    width: 49%;
  }
}

@media (max-width: 425px) {
  .select2-container,
  .select__btn {
    width: 100%;
    margin-bottom: 1px;
  }
  .select2-container--default {
    & .select2-selection--single {
      height: 32px;
    }
  }
}
