{% macro footer(class, inner) %}
    <footer class="footer {{class}}">
        <div class="container footer-row">
            <div class="footer__cell">
                <div class="footer__title">
                    Ремонт смартфонов и <br>другой техники в Москве
                </div>
                <div class="footer__info">
                    <div class="footer__adress">
                        Москва, ул. Дмитровоградская, 98
                    </div>
                    <div class="footer__phone">
                        8-800-500-4888
                    </div>
                    <div class="footer__email">
                        info@iservice.ru
                    </div>
                </div>
            </div>

            {{inner}}

            <button class="btn footer__btn phone__order show-modal">Заказать обратный звонок</button>
            <div class="logo footer__logo">
                <a  class="logo__link" href="./index.html">
                    {# <img src="./temp-img/img-logo.png" alt="Лого" class="logo__img"> #}
                    <svg width="17" height="45">
                        <use xlink:href="#icn-i"></use>
                    </svg>
                    <svg width="194" height="45">
                        <use xlink:href="#icn-Service"></use>
                    </svg>
                </a>
            </div>
            <div class="footer__company-name">
                © ООО «АйСервис», Москва, 2018
            </div>
            <div class="footer__up-link">
                Разработка и продвижение: <a href="#" class="link">Uplink</a>
            </div>
        </div>
    </footer>
{% endmacro %}
