$footer--main:#FF823B;
$footer--bg-color: transparent; //#0F1626
$footer--color:#A3AECC; //#FFFFFF
$footer--color--light:#CFD5E5;
$footer-link--color: #CFD5E5;
$footer-sub--bg-color: rgb(189, 198, 223);
// hover
$footer--bg-color--hover: transparent;
$footer-link--bg-color--hover: transparent;
$footer-link--color--hover: $footer--main;
$footer-sub-link--bg-color--hover: $footer--main;
$footer-sub-link--color--hover: #FFFFFF;
//disable default
$footer--color--disable:#596380;
//inport var -- here
@import "../../../scss/var";
//стандарт
$footer--outline--color:$footer--main;
//disable (disable)
.footer-row {
  display: flex;
  justify-content: space-between;
  align-content: space-between; // align-items: center;
  flex-wrap: wrap;
  min-height: 184px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid $footer--color--disable;
  color: $footer--color;
}

.footer {
  &__btn {
    // width: auto;
    // flex-grow: 1;
  }
  &__cell {
    flex-grow: 1; // flex-shrink: 1;
    width: 70%;
    display: flex;
    justify-content: flex-start; // width: (100/4)*3%;
  }
  &__title {
    width: 204px;
    margin-right: 30px;
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; // width: auto;
  }
  &__adress {
    flex-grow: 1;
    width: 100%;
  }
  &__phone {
    margin-right: 20px;
  }
  &__logo {
    margin-right: 30px;
  }
  &__company-name {
    flex-grow: 1;
  }
}

.logo__link {
  display: flex;
  justify-content: flex-start;
}

.footer__logo {
  width: 63px;
  height: 20px;
  svg {
    fill: $footer--color--light;
    height: 100%;
  }
  svg:nth-child(2) {
    fill: $footer--color--light;
  }
}

@media (max-width: 768px) {
  .footer-row {
    justify-content: space-between;
    align-items: center;
    &>* {
      margin-bottom: 8px;
    }
  }
  .footer {
    &__logo {
      order: -1;
      width: 120px;
      height: 30px;
    }
    &__company-name {
      order: -1;
      text-align: right;
    }
    &__info {
      justify-content: flex-end;
      width: 100%;
    }
    &__adress {
      text-align: right;
    }
    &__btn {
      order: 1;
    }
    &__title {
      display: none;
    }
    &__up-link {
      order: 2;
    }
  }
}

@media (max-width: 425px) {
  .footer-row {
    height: auto;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
  }
  .footer {
    &__logo {
      order: -1;
      width: 120px;
      height: 30px;
      margin: 20px 0;
    }
    &__info {
      margin-bottom: 0;
      width: 100%;
      justify-content: flex-start;
      &>* {
        margin-bottom: 8px;
      }
    }
    &__company-name {
      order: 1;
      text-align: left;
    }
    &__adress {
      text-align: left;
    }
    &__up-link {
      order: 2;
    }
    &__btn {
      order: 1;
    }
  }
}
