{% macro articleList (articles, class) %}
    <div class="article-list {{class}}">
        {% for item in articles %}
            <a href="{{ item.href }}" class="article-list__item">
                <span>{{ item.titleText }}</span>
                <span class="article-list__date">{{ item.articleDate }}</span>
            </a>
        {% endfor %}
    </div>
{% endmacro %}
