@import "../../../scss/var";
$article-list--main: $highlight-text-color;
$article-list--color: $article-list--main;
$article-list--date--color:$highlight-text-color-darken;
//inport var -- here
@import "../../../scss/re-var";
.article-list {
  width: 386px;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid #2A2F3D;
  border-radius: 2px;
  &__item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 10px 0;
    color: $article-list--color;
  }
  &__date {
    color: $article-list--date--color;
  }
}

@media (max-width: 768px) {
  .article-list {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .article-list {
    width: 100%;
    padding: 0;
    border: none;
    &>.article:nth-child(n+4) {
      display: none;
    }
    &__title {
      font-size: rem(14);
    }
  }
}
