.about-us {
  &__content {
    align-content: flex-start;
    justify-content: space-between;
  }
  &__text {
    flex: 1;
    max-width: 793px;
    min-width: 325px;
    padding-right: 20px;
    &>p:first-child {
      margin-top: 0;
    }
  }
  &__form {
    margin: 0 auto;
    align-self: flex-start;
  }
}

@media (max-width: 768px) {
  .about-us {
    &__text {
      padding-right: 0;
    }
  }
}

@media (max-width: 425px) {
  .about-us {
    &__text {
      min-width: auto;
    }
  }
}
