{% from "../library/orderForm/orderForm.njk" import orderForm %}

{% set blockContent %}
    <div class="about-us__text">
        <p>
            Сейчас сложно представить себе семью, не имеющую электроники в доме. Качественно починить ноутбук или смартфон, не выкладывая половину семейного бюджета можно только при правильной диагностике и партнерских отношениях сервисного центра с поставщиками запчастей.
        </p>
        <p>
            Мы предлагаем доступный ремонт ноутбука цена, которого складывается из трех составляющих:
            <br>— Стоимость работы инженера;
            <br>— Стоимость запчастей;
            <br>— Срочность выполнения работ.
        </p>
        <p>
            Мы полностью отвечаем за выполненную работу и несем гарантийные обязательства перед своими клиентами, а также не откажем в подробной консультации по истечении гарантийного срока службы.
        </p>
        <p>
            Даже срочные ремонты в нашей компании способны конкурировать по стоимости с ведущими сервисными центрами города и области. Наличие собственного склада запчастей и прямые связи с поставщиками и производителями, позволяют выполнять ремонты с модульной заменой в кратчайшие сроки. Оперативная чистка ноутбуков - цена этой услуги не завышена как в большинстве мастерских.
        </p>
        <p>
            Наш сервисный центр имеет авторизации у ведущих производителей бытовой техники и электроники. Официальный ремонт телевизоров в Томске осуществляется с использованием оригинальных запчастей или качественных аналогов.
        </p>
        <p>
            Обращаясь к нам – вы можете быть уверены, что проблема с вашей техникой будет решена быстро и недорого
        </p>
    </div>

    {{ orderForm (
        class='about-us__form',
        titleText='Остались вопросы?',
        subTitleText='Напишите нам, мы обязательно ответим',
        bottomTitleText='Или <a class="link">закажите звонок</a> и поговорите со специалистом' ) }}

{% endset %}

{% from "../library/block/block.njk" import block %}

{{ block (titleText='О нашем сервисном центре', blockClass='about-us', content=blockContent, contentClass='about-us__content', buttons = [] ) }}
