{% from "../library/article-list/article-list.njk" import articleList %}

{% set articles = [
    {titleText:'Эксплуатация цифровых фотоаппаратов: основные рекомендации',
        href:"#", articleDate:'29 сентября' },
    {titleText:'Характерные поломки мониторов',
        href:"#", articleDate:'23 сентября' },
    {titleText:'Телефон Samsung сам перезагружается',
        href:"#", articleDate:'15 сентября' },
    {titleText:'Причины сбоя работы навигатора',
        href:"#", articleDate:'14 августа' },
    {titleText:'Как сэкономить заряд аккумулятора iPhone',
        href:"#", articleDate:'6 августа' },
    {titleText:'5 самых частых поломок PlayStation 3',
        href:"#", articleDate:'6 августа' },
    {titleText:'Распространенные проблемы и решения',
        href:"#", articleDate:'6 августа' },
    {titleText:'Почему отказываются работать мультиварки',
        href:"#", articleDate:'7 июня' },
    {titleText:'Поломки и ремонт DVD-проигрывателей',
        href:"#", articleDate:'7 июня' }
] %}

{% set blockContent %}
    <div class="article__info">
        <p>Вы не знаете страх, если не смотрели в глаза тех, кто уронил iPhone в воду.</p>
        <p>Такое может случиться с каждым. И всегда невовремя. Ситуации разные, итог один: смартфон доживает последние дни, часы, а иногда – вообще минуты. Теперь только от ваших действий зависит, что случится дальше. Линия между грудой дорогостоящего металла и полностью работоспособным смартфоном проходит тонко, перечёркивая городские легенды.</p>
        <p>Что происходит с айфоном в его последние часы, как повернуть время вспять и почему народные методы опасны вдвойне – далее в нашей статье, основанной на опыте сотен тысяч несчастных владельцев iPhone и iPad. </p>
        <h2>Вода айфону не игрушка</h2>
        <p>Врага надо знать в лицо. Особенно такого, без которого жизнь человека невозможна. Природная вода, откуда бы она ни взялась, является злейшим врагом электроники. Никогда не задумывались, почему так происходит? Вопреки мнению некоторых, жидкость сама по себе не мешает электронике работать и выполнять свою задачу. Дело в воде, а точнее, её химическом составе.  </p>
        <p>Вода, которую вы пьете, в которой купаетесь и которой моете руки, гораздо сложнее, чем выглядит на первый взгляд. Бутылочная, проточная, родниковая, морская, речная – доступная человеку вода, возникающая в природе или обработанная для питья, содержит микроскопические ионы солей и минералы. Вы видите их без микроскопа чуть ли не каждый день. Например, в виде следов, остающихся на окне после дождя. Или на стекле над раковиной.  </p>
        <img src="./img/article-img1.jpg" alt="">
        <p>Соли и минералы – важная часть питьевой воды и одна из причин, по которым человек просто обязан пить, чтобы выжить. Именно минеральный состав заставляет нас предпочитать одного производителя бутилированной воды другому: соотношение минералов и солей в жидкости определяет её вкус. Всего этого нет в дистиллированной воде – и поэтому человеку не рекомендуется её пить. С любой жидкостью, из организма вымываются те самые минералы и соли, и если обычная питьевая вода восполняет потерю, то «мёртвая» вредит здоровью организма.</p>
    </div>
    {{articleList ( articles=articles, class='article__list' ) }}

{% endset %}

{% from "../library/block/block.njk" import block %}

{{block( blockClass='article', content=blockContent, contentClass='article__content', buttons=[])}}
