{% from "../library/tag/tag.njk" import tag %}

{% set tagsArr = [
    'iPhone',
    'Apple',
    'Неполадки'
] %}
<div class="article-header">
    <img class="article-header__img" src="./img/article-header.jpg" >
    <div class="tags">
        <span class="article-header__date">5 минут назад</span>
        {{ tag (tagsArr) }}
    </div>
</div>

