@import "../../scss/var";
.article-header {
  display: flex;
  flex-direction: column;
  &__img {
    width: 100%;
  }
  &__date {
    margin-right: 12px;
  }
}

@media (max-width: 768px) {
  .article-header {}
}

@media (max-width: 425px) {
  .article-header {}
}
