@import "../../scss/var";
.article {
  margin: 10px;
  &__content {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
  }
  &__list {
    width: 386px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #2A2F3D;
    border-radius: 2px;
  }
  &__info {
    flex-grow: 1;
    position: relative;
    max-width: 800px;
    box-sizing: border-box;
    >p:first-child {
      margin-top: 0;
    }
  }
}

@media (max-width: 768px) {
  .article {
    &__content {
      align-items: flex-start;
      flex-wrap: wrap;
    }
    &__list {
      width: 100%;
    }
  }
}

@media (max-width: 425px) {
  .article {
    &__content {
      justify-content: space-between;
      align-items: flex-start;
    }
    &__list {
      width: 100%;
      padding: 0;
      border: none;
      &>.article:nth-child(n+4) {
        display: none;
      }
    }
    &__info {
      width: 100%;
    }
  }
}
