@import "../../scss/var";
.block-articles {
  &__content {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
  } // &__list {
  //   width: 386px;
  //   padding: 30px;
  //   box-sizing: border-box;
  //   border: 1px solid #2A2F3D;
  //   border-radius: 2px;
  // }
}

.article-preview {
  flex-grow: 1;
  position: relative;
  max-width: 800px;
  box-sizing: border-box;
  &__text-wrapper {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 386px;
    height: 190px;
    padding: 18px 20px;
    box-sizing: border-box;
    background: #FFFFFF;
    color: #000;
  }
  &__title {
    font-size: 18px;
    font-weight: bold;
  }
  &__text {
    padding: 10px 0;
    flex: 1;
  }
  &__date {
    color: $highlight;
  }
}

@media (max-width: 1200px) {
  .article-preview {
    &__text-wrapper {
      position: relative;
      left: 0;
      bottom: auto;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .block-articles {
    &__content {
      align-items: flex-start;
      flex-wrap: wrap;
    } // &__list {
    //   width: 100%;
    // }
  }
}

@media (max-width: 425px) {
  .article-preview {
    width: 100%;
    &__text-wrapper {
      position: relative;
      left: 0;
      bottom: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 150px;
      padding: 18px 20px;
      box-sizing: border-box;
    }
    &__title {
      font-size: rem(14);
    }
    &__text {}
    &__date {}
  }
  .block-articles {
    &__content {
      justify-content: space-between;
      align-items: flex-start;
    } // &__list {
    //   width: 100%;
    //   padding: 0;
    //   border: none;
    //   &>.article:nth-child(n+4) {
    //     display: none;
    //   }
    // }
  }
}
