{% from "../library/article-list/article-list.njk" import articleList %}

{% set articles = [
    {titleText:'Эксплуатация цифровых фотоаппаратов: основные рекомендации',
        href:"#", articleDate:'29 сентября' },
    {titleText:'Характерные поломки мониторов',
        href:"#", articleDate:'23 сентября' },
    {titleText:'Телефон Samsung сам перезагружается',
        href:"#", articleDate:'15 сентября' },
    {titleText:'Причины сбоя работы навигатора',
        href:"#", articleDate:'14 августа' },
    {titleText:'Как сэкономить заряд аккумулятора iPhone',
        href:"#", articleDate:'6 августа' },
    {titleText:'5 самых частых поломок PlayStation 3',
        href:"#", articleDate:'6 августа' },
    {titleText:'Распространенные проблемы и решения',
        href:"#", articleDate:'6 августа' },
    {titleText:'Почему отказываются работать мультиварки',
        href:"#", articleDate:'7 июня' },
    {titleText:'Поломки и ремонт DVD-проигрывателей',
        href:"#", articleDate:'7 июня' }
] %}

{% set blockContent %}
    <div class="article-preview">
        <a class="" href="#">
            <img class="article-preview__image" src="../img/article-image.jpg" alt="">
            <div class="article-preview__text-wrapper">
                <div class="article-preview__title">
                    Какие отвёртки нужны для починки ноутбука
                </div>
                <div class="article-preview__text">
                    Иногда ноутбук требуется вскрыть. Это может понадобиться из-за поломки или для плановой очистки устройства.
                </div>
                <div class="article-preview__date">
                    29 сентября
                </div>
            </div>
        </a>
    </div>

    {{articleList ( articles=articles, class='block-articles__list' ) }}

{% endset %}

{% from "../library/block/block.njk" import block %}

{{block(titleText='Полезные статьи', blockClass='block-articles', content=blockContent, contentClass='block-articles__content' )}}
