{% from "../library/orderForm/orderForm.njk" import orderForm %}

{% set blockContent %}
    <div class="contacts__text">
        <div class="contacts__text-inner contacts__left">
            <div class="contacts__inf-block">
                <div class="contacts__label">Телефон</div>
                <div class="contacts__inf-text">
                    8-800-500-4888
                </div>
            </div>
            <div class="contacts__inf-block">
                <div class="contacts__label">Фактический адрес</div>
                <div class="contacts__inf-text">
                    600000, Московская область, Москва, ул. Дмитровоградская, 98
                </div>
            </div>
            <div class="contacts__inf-block">
                <div class="contacts__label">Электронная почта</div>
                <div class="contacts__email contacts__inf-text">
                    <a href="mailto:" class="link">info@iservice.ru</a>
                </div>
            </div>
            <div class="contacts__inf-block">
                <div class="contacts__label">Время работы</div>
                <div class="contacts__work-time contacts__inf-text">
                    9:00–20:00, Сб, Вс—выходные дни
                </div>
            </div>
            <div class="contacts__inf-block">
                <div class="contacts__label">Социальные сети</div>
                <div class="contacts__phone contacts__inf-text">
                    <a href="#" class="link">vk.com/iservice</a>
                    <br>
                    <a href="#" class="link">instagram.com/iservice</a>
                </div>
            </div>

        </div>
        <div class="contacts__text-inner contacts__right">
            <div class="contacts__inf-block">
                <div class="contacts__label">Юридическое лицо</div>
                <div class="contacts__inf-text">
                    ИП Файзулин М. A.
                </div>
            </div>
            <div class="contacts__inf-block">
                <div class="contacts__label">Юридический адрес</div>
                <div class="contacts__inf-text">
                    600000, Московская область, Москва, ул. Дмитровоградская, 98
                </div>
            </div>
            <div class="contacts__inf-block">
                <div class="contacts__label">Рассчётный счёт</div>
                <div class="contacts__inf-text">
                    40822834600536001743
                </div>
            </div>
            <div class="contacts__inf-block">
                <div class="contacts__label">БИК</div>
                <div class="contacts__inf-text">
                    047112382
                </div>
            </div>
            <div class="contacts__inf-block">
                <div class="contacts__label">ОГРН</div>
                <div class="contacts__inf-text">
                    310723207122161
                </div>
            </div>
            <div class="contacts__inf-block">
                <div class="contacts__label">ИНН</div>
                <div class="contacts__inf-text">
                    721230239750
                </div>
            </div>
        </div>
    </div>

    {{ orderForm (
        class='contacts__form',
        titleText='Остались вопросы?',
        subTitleText='Напишите нам, мы обязательно ответим',
        bottomTitleText='Или <a class="link">закажите звонок</a> и поговорите со специалистом' ) }}
    <div class="contacts__map">
        <img src="./img/map.jpg">
    </div>

{% endset %}

{% from "../library/block/block.njk" import block %}

{{ block (blockClass='contacts', content=blockContent, contentClass='contacts__content', buttons = [] ) }}
