@import "../../scss/var";
.contacts {
  margin-top: 0;
  &__content {
    align-content: flex-start;
    justify-content: space-between;
  }
  &__text {
    display: flex;
    width: 66%;
  }
  &__text-inner {
    width: 50%;
    padding-right: 30px;
  }
  &__left {}
  &__right {}
  &__inf-block {
    margin-bottom: 10px;
  }
  &__inf-text {
    font-size: rem(20);
    color: #FFFFFF;
  }
  &__work-time {
    font-size: rem(18);
    color: $text--color;
  }
  &__form {
    width: 32%;
    margin: 0 auto;
    align-self: flex-start;
  }
  &__map {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .contacts {
    &__text {
      flex-wrap: wrap;
    }
    &__text-inner {
      width: 100%;
      padding-right: 0;
    }
    &__form {
      width: auto;
    }
  }
}

@media (max-width: 425px) {
  .contacts {
    &__text {
      width: 100%;
    }
    &__text-inner {
      flex-wrap: wrap;
    }
    &__form {
      width: auto;
    }
  }
}
