<div class="ec-rating ec-clearfix" data-storage-id="ec-rating-index-page">
    <div class="ec-rating-stars">
        <svg class="rating-star" data-rating="1" width="16" height="14">
            <use xlink:href="#icn-star"></use>
        </svg>
        <svg class="rating-star" data-rating="2" width="16" height="14">
            <use xlink:href="#icn-star"></use>
        </svg>
        <svg class="rating-star" data-rating="3" width="16" height="14">
            <use xlink:href="#icn-star"></use>
        </svg>
        <svg class="rating-star" data-rating="4" width="16" height="14">
            <use xlink:href="#icn-star"></use>
        </svg>
        <svg class="rating-star" data-rating="5" width="16" height="14">
            <use xlink:href="#icn-star"></use>
        </svg>
    </div>
</div>