{% from "../library/input/input.njk" import input %}
{% from "../library/textarea/textarea.njk" import textarea %}
{% from "../library/modal/modal.njk" import modal %}
{% set orderFormContent %}
<form data-onsubmit="yaCounterXXX.reachGoal('call');"  action="#" method="post" class="modal-form" >
    <input type="hidden" name="data" id="data" value="">
    <input type="hidden" name="type" id="type" value="">

    <p class="modal-form__sub-title ">Оставьте свой номер телефона и специалист перезвонит вам</p>

    {{input (placeholder='Номер телефона', class='modal-form__input', prop='name=phone id=phone' )}}
    {{textarea (placeholder='Комментарий', class='modal-form__textarea',prop='name=komment id=komment'  ) }}
    <input type="submit" class="btn modal-form__btn" value="Отправить">

</form>
{% endset %}

{{ modal(modalClass='order-modal', content=orderFormContent, contentClass='order-modal__content', headerText='Заказ обратного звонка' ) }}

{% set thanksContent %}
<form data-onsubmit="yaCounterXXX.reachGoal('call');"  action="#" method="post" >
    <input type="hidden" name="data" id="data" value="">
    <input type="hidden" name="type" id="type" value="">
    <h3>content test 2</h3>
</form>
{% endset %}

{{ modal(modalClass='thanks-modal', content=thanksContent, headerText='header text 2' ) }}

{% set reviewContent %}
<div class="reviews-slider reviews-slider_prev modal-reviews-slider_prev">
    <svg width="24" height="48">
        <use xlink:href="#icn-arrow-prev"></use>
    </svg>
</div>

    <div class="reviews__wrapper ">

    </div>

<div class="reviews-slider reviews-slider_next modal-reviews-slider_next">
    <svg width="24" height="48">
        <use xlink:href="#icn-arrow-prev"></use>
    </svg>
</div>

{% endset %}

{{ modal(modalClass='review-modal', content=reviewContent, contentClass='review-modal__content') }}
