.order-modal {
  &__content {
    margin: 0;
    max-width: 590px;
  }
}

.review-modal {
  &__content {
    max-width: 590px;
    overflow: hidden;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  * {
    margin-bottom: 10px;
  }
  &__sub-title {
    font-size: rem(18);
  }
  &__input {
    width: 100%;
  }
  &__textarea {
    width: 100%;
  }
  &__btn {
    width: 320px;
  }
}

@media (max-width: 768px) {
  // .order-modal {
  //   &__text {
  //     padding-right: 0;
  //   }
  // }
}

@media (max-width: 425px) {
  // .order-modal {
  //   &__text {
  //     min-width: auto;
  //   }
  // }
  .modal-form {
    display: flex;
    flex-direction: column;
    * {
      margin-bottom: 8px;
    }
    &__textarea {
      height: 64px;
    }
    &__btn {
      width: 100%;
    }
  }
}
