{% set advantages = [
    {text:'Официальный сервисный центр'},
    {text:'Только оригинальный запчасти'},
    {text:'Большой запас деталей на складе'},
    {text:'Гарантия на работу и комплектующие от 30 дней'},
    {text:'СМС-оповещения о статусе заказа'}
] %}

{% set blockContent %}
    <ul class="advantages">
        {% for item in advantages %}
        <li class="advantages__li">
            <div class="advantages__check">
                <svg width="28" height="20">
                    <use xlink:href="#check"></use>
                </svg>
            </div>
            <span class="advantages__text">
                {{item.text}}
            </span>
        </li>
        {% endfor %}
    </ul>
{% endset %}

<div class="model">
    <div class="model__left">
        {% from "../library/block/block.njk" import block %}
        {{ block (titleText='Преимущества ремонта в нашем сервисном центре', blockClass='advantages', content=blockContent, contentClass='advantages__content', buttons = [] ) }}
    </div>
    <div class="model__right">
        <div class="model__preview">
            <img src="./img/preview.png" alt="">
            <button class="btn">Ремонт в 1 клик</button>
            <a href="#" class="model__link"> <span class="link">Порядок сдачи устройства</span> <br><span class="link">в сервисный центр</span></a>
        </div>
    </div>
</div>



