@import "../../scss/var";
.model {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  &__preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 34px;
    border: 1px solid #2A2F3D;
    >* {
      margin-bottom: 20px;
    }
  }
  &__link {
    text-align: center;
    text-decoration: none;
  }
}

.advantages {
  margin: 0;
  &__li {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    font-size: rem(24);
  }
  &__text {
    width: 75%;
    flex-grow: 1;
  }
  &__check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid $highlight;
    box-sizing: border-box;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .model {
    flex-wrap: wrap;
  }
  .advantages {
    margin: 0;
    &__li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 10px 0;
      font-size: rem(22);
    }
    &__check {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid $highlight;
      box-sizing: border-box;
      margin-right: 15px;
      & svg {
        width: 18px;
        height: auto;
      }
    }
  }
}

@media (max-width: 425px) {
  .advantages {
    margin: 0;
    &__li {
      font-size: rem(20);
    }
    &__check {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      & svg {
        width: 15px;
        height: auto;
      }
    }
  }
}
