{% from "../library/review/review.njk" import review %}
{% from "../library/input/input.njk" import input %}
{% from "../library/textarea/textarea.njk" import textarea %}

{% set blockContent %}
<from class="page-add-review__content">
    <div class="page-add-review__left">
        {{input (placeholder='Имя', class='page-add-review__input' )}}
        {{input (placeholder='Электронная почта', class='page-add-review__input' )}}
        <div class="page-add-review__mark">
            <span>Оценка</span>
            <div class="ec-rating-stars review__stars">
                <select id="review-rating" hidden>
                {% for i in range(1, 6) -%}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
                </select>
                {% for i in range(1, 6) -%}
                    <svg class="rating-star" data-rating="1" width="16" height="14">
                        <use xlink:href="#icn-star"></use>
                    </svg>
                {% endfor %}
            </div>
        </div>

        {{textarea (placeholder='Текст отзыва', class='page-add-review__textarea' ) }}
    {# , param={'rows':'10'} #}
    </div>
    <div class="page-add-review__right">
        <div>
            <p class="page-add-review__text">
                Мы благодарны вам за обратную связь. Вы помогаете нам стать лучше.
            </p>
            <p class="page-add-review__text">
                Нажимая на кнопку отправить, вы соглашаетесь с <a href="#" class="link">условиями обработки персональных данных</a>
            </p>
        </div>
        <input type="submit" class="btn page-add-review__btn" value="Отправить">
    </div>
</from>
{% endset %}

{% from "../library/block/block.njk" import block %}

{{block(titleText='Оставить отзыв', blockClass='page-add-review', content=blockContent, contentClass='', buttons = [], props='id=page-add-review' )}}
