.page-add-review {
  margin-top: 12px;
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  &__left {
    flex-grow: 1; //overflow: hidden;
    display: flex;
    width: 320px;
    justify-content: space-between;
    align-items: center; // align-content: center;
    flex-wrap: wrap;
    margin-right: 60px;
    &>* {
      margin-bottom: 20px;
    }
  }
  &__mark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 185px;
    font-size: 18px;
  }
  &__textarea {
    // margin-top: 20px;
    width: 100%;
    margin-bottom: 0;
  }
  &__right {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__text {
    margin: 0 0 10px;
    line-height: rem(18);
  }
  &__btn {
    width: 100%;
  }
  &__up-btn {
    display: none;
    visibility: hidden;
    &.show {
      visibility: hidden;
    }
  }
}

@media (max-width: 768px) {
  .page-add-review {
    &__left {
      width: 100%;
      margin-right: 0;
    }
    &__input {
      width: 48%;
    }
    &__right {
      width: 100%;
      flex-direction: row;
    }
  }
}

@media (max-width: 425px) {
  .page-add-review {
    &__left {
      margin-right: 0;
      &>* {
        margin-bottom: 12px;
      }
    }
    &__input {
      width: 100%;
      margin-bottom: 1px;
    }
    &__textarea {
      margin-bottom: 1px;
    }
    &__mark {
      margin-bottom: 0;
    }
    &__right {
      flex-direction: column;
      &>* {
        margin-bottom: 12px;
      }
      &>*:first-child {
        margin-bottom: 0;
      }
    }
    &__text {
      // margin: 0 0 10px;
      font-size: rem(14);
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__btn {
      order: -1;
    }
    &__up-btn {
      // position: fixed;
      // bottom: 0;
      display: block;
      position: fixed;
      bottom: 0;
      &.show {
        visibility: visible;
      }
    }
  }
}
