.page-reviews {
  position: relative;
  &__content {
    width: 100%; //overflow: hidden;
    justify-content: space-between;
  }
  &__wrapper {
    // overflow: hidden;
    width: 100%;
  }
  &__swiper {
    display: flex;
    justify-content: space-between;
    width: auto;
  }
}

.page-reviews-slider {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  z-index: 1;
  cursor: pointer;
  &_prev {
    right: 100%;
  }
  &_next {
    left: 100%;
    transform: translateY(50%) rotate(180deg);
  }
}

@media (max-width: 1200px) {
  .page-reviews-slider {
    // display: none;
    &_prev {
      right: 100%;
      transform: translate(75%, -50%);
    }
    &_next {
      left: 100%;
      transform: translate(-75%, -50%) rotate(180deg);
    }
  }
  .modal-page-reviews-slider {
    // display: none;
    &_prev {
      right: 100%;
      transform: translate(50%, -50%);
    }
    &_next {
      left: 100%;
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
  .page-reviews {}
}
