{% from "../library/review/review.njk" import review %}

{% set categoryItems = [
    {autor:'Пеньков Евгений', stars:4, href:'#', reviewDate:'29 сентября',  text:'Я своей не аккуратностью угробил гнездо зарядки, а на следующий день уезжал из города на длительное время, что делать вообще не знал, ремонт требовался экстренный и неотложный. А у меня друг до этого с такой же проблемой обращался в этот сервисный центр, и мне посоветовал. Очень удобно то, что менеджеры вовремя отвечают на сообщения и звонки, мне сказали, что такую проблему можно решить в течении одного дня. И действительно, заменили все быстро, а главное качественно. '},
    {autor:'Данил', stars:5, href:'#', reviewDate:'1 августа',  text:'все ок '},
    {autor:'Денис', stars:3, href:'#', reviewDate:'19 июля',  text:'Очень крутой сайт, а дизайн то какой!!!'},
    {autor:'Пеньков Евгений', stars:4, href:'#', reviewDate:'7 июня',  text:'Я своей не аккуратностью угробил гнездо зарядки, а на следующий день уезжал из города на длительное время, что делать вообще не знал, ремонт требовался экстренный и неотложный. А у меня друг до этого с такой же проблемой обращался в этот сервисный центр, и мне посоветовал. Очень удобно то, что менеджеры вовремя отвечают на сообщения и звонки, мне сказали, что такую проблему можно решить в течении одного дня. И действительно, заменили все быстро, а главное качественно. Я своей не аккуратностью угробил гнездо зарядки, а на следующий день уезжал из города на длительное время, что делать вообще не знал, ремонт требовался экстренный и неотложный. А у меня друг до этого с такой же проблемой обращался в этот сервисный центр, и мне посоветовал. Очень удобно то, что менеджеры вовремя отвечают на сообщения и звонки, мне сказали, что такую проблему можно решить в течении одного дня. И действительно, заменили все быстро, а главное качественно.Я своей не аккуратностью угробил гнездо зарядки, а на следующий день уезжал из города на длительное время, что делать вообще не знал, ремонт требовался экстренный и неотложный. А у меня друг до этого с такой же проблемой обращался в этот сервисный центр, и мне посоветовал. Очень удобно то, что менеджеры вовремя отвечают на сообщения и звонки, мне сказали, что такую проблему можно решить в течении одного дня. И действительно, заменили все быстро, а главное качественно. Я своей не аккуратностью угробил гнездо зарядки, а на следующий день уезжал из города на длительное время, что делать вообще не знал, ремонт требовался экстренный и неотложный. А у меня друг до этого с такой же проблемой обращался в этот сервисный центр, и мне посоветовал. Очень удобно то, что менеджеры вовремя отвечают на сообщения и звонки, мне сказали, что такую проблему можно решить в течении одного дня. И действительно, заменили все быстро, а главное качественно. '}
] %}

{% set blockContent %}

    {% for item in categoryItems %}
        {{review (autor=item.autor,class='swiper-slide', stars=item.stars, href=item.href, reviewDate=item.reviewDate, text=item.text )}}
    {% endfor %}

{% endset %}

{% from "../library/block/block.njk" import block %}

{{block(titleText='Наши отзывы', blockClass='page-reviews', content=blockContent, contentClass='page-reviews__content reviews-all', buttons = []  )}}
