{% from "../library/tag/tag.njk" import tag %}

{% set tagsArr = [
    'Неполадки',
    'Обзоры',
    'Apple',
    'Samsung',
    'Xiaomi',
    'Неполадки',
    'Обзоры',
    'Apple',
    'Samsung',
    'Xiaomi',
    'Неполадки',
    'Обзоры',
    'Apple',
    'Samsung',
    'Xiaomi',
    'Неполадки',
    'Обзоры',
    'Apple',
    'Samsung',
    'Xiaomi',
    'Неполадки',
    'Обзоры',
    'Apple',
    'Samsung',
    'Xiaomi',
    'Неполадки',
    'Обзоры'
] %}

{% set blockContent %}
    {{ tag (tagsArr) }}
{% endset %}

{% from "../library/block/block.njk" import block %}

{{ block (titleText='Популярные теги', content=blockContent, buttons = [] ) }}
