{% from "../library/categoryLink/categoryLink.njk" import categoryLink %}

{% set categoryItems = [
    {img:'./img/image.png', text:'iPhone 5s'},
    {img:'./img/image 2.png', text:'iPhone 6'},
    {img:'./img/image 3.png', text:'iPhone 6 Plus'},
    {img:'./img/image 4.png', text:'iPhone 6S'},
    {img:'./img/image 4-7.png', text:'iPhone 6S Plus'},
    {img:'./img/image 4-6.png', text:'iPhone SE'},
    {img:'./img/image 4-5.png', text:'iPhone 7'},
    {img:'./img/image 4-4.png', text:'iPhone 7 Plus'},
    {img:'./img/image 4-3.png', text:'iPhone 8'},
    {img:'./img/image 4-2.png', text:'iPhone 8 Plus'},
    {img:'./img/image 4-1.png', text:'iPhone X'},
    {class:'category-link_btn', text:'Показать все'}
] %}

{% set blockContent %}
    <div class="rem-category__links">
        {% for item in categoryItems %}
            {{categoryLink (svg=item.svg, img=item.img, text=item.text,  class= item.class)}}
        {% endfor %}
    </div>
{% endset %}

{% from "../library/block/block.njk" import block %}

{{block(titleText='Популярные модели', blockClass='rem-category', content=blockContent, contentClass='rem-category__content', buttons=[] )}}
