{% from "../library/popularDefect/popularDefect.njk" import popularDefect %}


{% set blockContent %}

    {% for item in defectItems %}
        {{popularDefect (image=item.image, text=item.text, href=item.href, dateText=item.dateText, textSub=item.textSub, tags=item.tags)}}
    {% endfor %}

{% endset %}

{% from "../library/block/block.njk" import block %}

{{block(titleText='Распространённые неполадки ', blockClass='popular-defects', content=blockContent, contentClass='popular-defects__content' )}}
