.popular-defects {
  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__content {
    flex-direction: row;
  }
}

@media (max-width: 425px) {
  .popular-defects {
    &__content {
      & :nth-child(n+4) {
        display: none;
      }
    }
  }
}
