@import "../../scss/var";
.price-table {
  &__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__header {
    position: sticky;
    top: 104px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: $bg-color;
    color: #FFFFFF;
    font-weight: bold;
    box-sizing: border-box;
    &-hr {
      border-bottom: 1px solid #565D72;
      padding-bottom: 20px;
      margin-bottom: 5px;
    }
    &-name {
      flex-grow: 1;
      font-size: rem(18);
      line-height: rem(21);
      text-align: left;
    }
    &-remTime {
      min-width: 60px;
      margin: 0 20px;
    }
    &-price {
      max-width: 60px;
      min-width: 50px;
      margin-left: 20px;
      margin-right: 203px;
    }
  }
}

@media (max-width: 768px) {
  .price-table {
    &__content {}
    &__header {
      top: 60px;
      &-name {
        width: 50%;
      }
    }
  }
}

@media (max-width: 425px) {
  .price-table {
    &__content {}
    &__header {
      top: 41px;
      &-name {
        display: none;
      }
      &-remTime {
        margin: 0;
      }
      &-price {
        // min-width: 50px;
      }
    }
  }
}
