{% from "../library/tableRow/tableRow.njk" import tableRow %}

{% set priceTable = [
    {
        name:'Замена аккумуляторной батареи',
        remTime:'1–3', price:'900', btn:[{text:'Заказать'}]
    },
    {
        name:'Замена аккумуляторной батареи с демонтажем дисплейного модуля',
        remTime:'1–3', price:'1500', btn:[{text:'Заказать'}]
    },
    {
        name:'Замена динамика',
        remTime:'1–3', price:'1000', btn:[{text:'Заказать'}]
    },
    {
        name:'Замена дисплея',
        remTime:'1–3', price:'1100', btn:[{text:'Заказать'}]
    },
    {
        name:'Замена дисплея в сборе с тачскрином и рамкой',
        remTime:'1–3', price:'1100', btn:[{text:'Заказать'}]
    },
    {
        name:'Замена дисплея в сборе с тачскрином без рамки',
        remTime:'1–3', price:'1350', btn:[{text:'Заказать'}]
    },
    {
        name:'Замена камеры',
        remTime:'1–3', price:'900', btn:[{text:'Заказать'}]
    },
    {
        name:'Замена кнопки(home, включения, блокировки, регулировки громкости, затвора камеры)',
        remTime:'1–3', price:'1000', btn:[{text:'Заказать'}]
    },
    {
        name:'Замена контроллера зарядки',
        remTime:'1–3', price:'1650', btn:[{text:'Заказать'}]
    }
] %}

{% set blockContent %}
    <div class="price-table__header">
        {# <div class="block__header"> #}
        <div class="price-table__header-name" >
            Услуга
        </div>
        <div class="price-table__header-remTime" >
            Срок, дн.
        </div>
        <div class="price-table__header-price" >
            Цена, ₽
        </div>
    </div>
    <div class="price-table__header-hr"></div>
    {% for item in priceTable %}
        {{tableRow (name=item.name, remTime=item.remTime,  price=item.price, btn=item.btn )}}
    {% endfor %}

{% endset %}

{% from "../library/block/block.njk" import block %}

{{block(titleText='Цены', blockClass='price-table', content=blockContent, contentClass='price-table__content', buttons=[])}}
