{% from "../library/categoryLink/categoryLink.njk" import categoryLink %}

{% set categoryItems = [
    {svg:'#icn-category-iphone', text:'Айфоны'},
    {svg:'#icn-category-smartphone', text:'Смартфоны'},
    {svg:'#icn-category-computer', text:'Компьютеры'},
    {svg:'#icn-category-notebook', text:'Ноутбуки'},
    {svg:'#icn-category-tab', text:'Планшеты'},
    {svg:'#icn-category-camera', text:'Фотоаппараты'}
] %}

{% set blockContent %}
    <div class="rem-category__links">
        {% for item in categoryItems %}
            {{categoryLink (svg=item.svg, text=item.text )}}
        {% endfor %}
    </div>
    <p class="usp-item__descr">Не нашли подходящую услугу <a href="#" class="link rem-category__link">напишите нам</a>, мы что-нибудь придумаем или посоветуем
    </p>
{% endset %}

{% from "../library/block/block.njk" import block %}


{{block(titleText='Что мы ремонтируем', blockClass='rem-category', content=blockContent, contentClass='rem-category__content' )}}
