.search {
  position: relative;
  &__content {
    justify-content: space-between;
  }
}

@media (max-width: 1200px) {
  .search {
    position: relative;
    &__content {
      overflow: hidden;
    }
  }
}
