{% from "../library/select/select.njk" import select %}

{% set categoryItems = [
    {placeholder:'Услуга'},
    {placeholder:'Производитель'},
    {placeholder:'Модель'}
] %}

{% set blockContent %}
    {% for item in categoryItems %}
        {{select (placeholder= item.placeholder)}}
    {% endfor %}
    <button class="btn select__btn">Подобрать услуги</button>
{% endset %}

{% from "../library/block/block.njk" import block %}

{{block(titleText='Найдите подходящую услугу', blockClass='search', content=blockContent, contentClass='search__content', buttons = [] )}}
