{% from "../tag/tag.njk" import tag %}
{% macro popularDefect ( image, dateText, text, textSub, href, linkText='Починить', tags=[] ) %}

<article  class="popular-defect {{ class }}">
    <img src="{{ image }}" alt="{{ text }}">
    {% if dateText %}
    <div class="popular-defect__date-text">
        {{ dateText }}
    </div>
    {% endif %}
    <h3 class="popular-defect__text">
        {{ text }}
    </h3>
    {% if textSub %}
    <div class="popular-defect__sub-text">
        {{ textSub }}
    </div>
    {% endif %}
    {% if (href | length > 0) %}
    <a href="{{href}}" class="link popular-defect__link">
        {{ linkText }}
    </a>
    {% endif %}
    {% if (tags | length > 0) %}
    <div class="tags">
        {{ tag (tagsArr=tags) }}
    </div>
    {% endif %}

</article>
{% endmacro %}
