@import "../../../scss/var";
.popular-defect {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 285px;
  width: 24%;
  margin: 10px auto;
  box-sizing: border-box;
  img {
    width: 100%;
    height: 160px;
    border-radius: 4px;
  }
  &__date-text {}
  &__text {
    margin: 0;
    font-size: rem(18);
    font-weight: normal;
    width: 100%;
    color: #FFFFFF;
  }
  &__sub-text {
    margin: 0;
    font-size: rem(16);
    font-weight: normal;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .popular-defect {
    width: 48%;
  }
}

@media (max-width: 425px) {
  .popular-defect {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
    &__sub-text {
      width: auto;
    }
  }
}
