$grid__bp-xs: 425;
$grid__bp-sm: 768;
$grid__bp-md: 1024;
$grid__bp-lg: 1200;
$grid__bp-xl: 1440;
$grid__cols: 12;
$map-grid-props: ( '': 0, '-xs': $grid__bp-xs, '-sm': $grid__bp-sm, '-md': $grid__bp-md, '-lg': $grid__bp-lg, '-xl': $grid__bp-xl);
@mixin create-mq($breakpoint, $min-or-max) {
  @if($breakpoint==0) {
    @content;
  }
  @else {
    @media screen and (#{$min-or-max}-width: $breakpoint *1px) {
      @content;
    }
  }
}

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
  @include create-mq($breakpoint, 'max') {
    &__col#{$modifier}-offset-0 {
      margin-left: 0;
    }
    @for $i from 1 through $grid-cols {
      &__col#{$modifier}-#{$i} {
        flex-basis: (100 / ($grid-cols / $i)) * 1%;
      }
      &__col#{$modifier}-offset-#{$i} {
        margin-left: (100 / ($grid-cols / $i)) * 1%;
      }
    }
  }
}

@each $modifier,
$breakpoint in $map-grid-props {
  @if($modifier=='') {
    $modifier: '-xs';
  }
  @include create-mq($breakpoint - 1, 'max') {
    .hidden#{$modifier}-down {
      display: none !important;
    }
  }
  @include create-mq($breakpoint, 'min') {
    .hidden#{$modifier}-up {
      display: none !important;
    }
  }
}

.container {
  max-width: $grid__bp-lg * 1px;
  margin: 0 auto;
  box-sizing: border-box;
  &--fluid {
    margin: 0;
    max-width: 100%;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  @each $modifier,
  $breakpoint in $map-grid-props {
    @include create-col-classes($modifier, $grid__cols, $breakpoint);
  }
}

@media (max-width: 1200px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 425px) {
  .container {
    width: 90%;
  }
}
