{% extends "../templates/main/layout.njk" %}
{% block content %}

<div class="container">
     {{macro.breadcrumbs (previous=['Статьи'], current='В айфон попала вода')}}

    <h1>В айфон попала вода</h1>
    {# Верх статьи #}
    {% include "../templates/blocks/article-header.njk" %}
    {# Контент #}
    {% include "../templates/blocks/article.njk" %}

</div>

{% endblock %}
{% block scripts %}

{% endblock %}
