{% extends "../templates/main/layout.njk" %}
{% block content %}

<div class="container">
     {{macro.breadcrumbs (current='Статьи')}}
    <h1>Полезные статьи</h1>
    {# Популярные теги #}
    {% include "../templates/blocks/popularTags.njk" %}
    {% set defectItems = [
        {
            image:'../img/defect-img-0.jpg',
            text:'В айфон попала вода',
            dateText:'5 минут назад',
            textSub:'Как спасти телефон после утопления',
            tags:['iPhone', 'Apple', 'Неполадки']
        },
        {
            image:'../img/defect-img-1.jpg',
            text:'Разбился экран телефона',
            dateText:'Вчера',
            textSub:'Быстрые и экономичные способы решения проблемы',
            tags:['Смартфон', 'Неполадки']
        },
        {
            image:'../img/defect-img-2.jpg',
            text:'Не работает разъём для наушников',
            dateText:'14 июля',
            textSub:'Возможные причины и пути устранения проблемы',
            tags:['Смартфон', 'Неполадки']
        },
        {
            image:'../img/defect-img-3.jpg',
            text:'Телефон не заряжается',
            dateText:'21 декабря 2017',
            textSub:'Возможные причины и пути устранения проблемы',
            tags:['Смартфон', 'Неполадки']
        }
    ] %}
    {# Распространённые неполадки #}
    {% include "../templates/blocks/popularDefects.njk" %}
    {# Другие статьи #}
    {% include "../templates/blocks/popularDefects.njk" %}

</div>

{% endblock %}
{% block scripts %}

{% endblock %}
