{% extends "../templates/main/layout.njk" %}
{% block content %}

<div class="container">
    {{macro.breadcrumbs (previous=['Ремонт смартфонов'], current='Samsung')}}
    <h1>Ремонт смартфонов Samsung</h1>
    {# Что мы ремонтируем  #}
    {% include "../templates/blocks/popularModel.njk" %}
    {# Цены #}
    {% include "../templates/blocks/price-table.njk" %}
    {# Распространённые неполадки #}
    {% include "../templates/blocks/popularDefects.njk" %}
    {# О нашем сервисном центре #}
    {% include "../templates/blocks/aboutUs.njk" %}
</div>

{% endblock %}
{% block scripts %}

{% endblock %}
