{% extends "../templates/main/layout.njk" %}
{% block content %}

<div class="container">
     {{macro.breadcrumbs (current='Статьи')}}
    <h1>Контактная информация</h1>
    {# Распространённые неполадки #}
    {% include "../templates/blocks/contacts.njk" %}

</div>

{% endblock %}
{% block scripts %}

{% endblock %}
