{% extends "../templates/main/layout.njk" %}
{% block content %}

{% from "../templates/library/pageTitle/pageTitle.njk" import pageTitle %}
{{pageTitle (text='Ремонт смартфонов <br> и другой техники <br>в Москве' ) }}

<div class="container">
    {# Найдите подходящую услугу  #}
    {% include "../templates/blocks/search.njk" %}
    {# Что мы ремонтируем  #}
    {% include "../templates/blocks/remCategory.njk" %}
    {# Распространённые неполадки #}
    {% set defectItems = [
        {image:'../img/defect-img-0.jpg', text:'В айфон попала вода', href:'#'},
        {image:'../img/defect-img-1.jpg', text:'Разбился экран телефона', href:'#'},
        {image:'../img/defect-img-2.jpg', text:'Не работает разъём для наушников', href:'#'},
        {image:'../img/defect-img-3.jpg', text:'Телефон не заряжается', href:'#'},
        {image:'../img/defect-img-0.jpg', text:'В айфон попала вода', href:'#'},
        {image:'../img/defect-img-1.jpg', text:'Разбился экран телефона', href:'#'},
        {image:'../img/defect-img-2.jpg', text:'Не работает разъём для наушников', href:'#'},
        {image:'../img/defect-img-3.jpg', text:'Телефон не заряжается',  href:'#'}
    ] %}

    {% include "../templates/blocks/popularDefects.njk" %}
    {# Отзывы наших клиентов #}
    {% include "../templates/blocks/reviews.njk" %}
    {# О нашем сервисном центре #}
    {% include "../templates/blocks/aboutUs.njk" %}
    {# Полезные статьи #}
    {% include "../templates/blocks/block-articles.njk" %}
</div>

{% endblock %}
{% block scripts %}

{% endblock %}
