{% extends "../templates/main/layout.njk" %}
{% block content %}

<div class="container">
    {{macro.breadcrumbs (previous=['Ремонт айфонов'], current='iPhone X ')}}
    <h1>Ремонт смартфона iPhone X</h1>
    {# Преимущества ремонта в нашем сервисном центре #}
    {% include "../templates/blocks/model.njk" %}
    {# Цены #}
    {% include "../templates/blocks/price-table.njk" %}
    {# Распространённые неполадки #}
    {% set defectItems = [
        {image:'../img/defect-img-0.jpg', textSub:'В айфон попала вода', href:'#'},
        {image:'../img/defect-img-1.jpg', textSub:'Разбился экран телефона', href:'#'},
        {image:'../img/defect-img-2.jpg', textSub:'Не работает разъём для наушников', href:'#'},
        {image:'../img/defect-img-3.jpg', textSub:'Телефон не заряжается', href:'#'},
        {image:'../img/defect-img-0.jpg', textSub:'В айфон попала вода', href:'#'},
        {image:'../img/defect-img-1.jpg', textSub:'Разбился экран телефона', href:'#'},
        {image:'../img/defect-img-2.jpg', textSub:'Не работает разъём для наушников', href:'#'},
        {image:'../img/defect-img-3.jpg', textSub:'Телефон не заряжается',  href:'#'}
    ] %}
    {% include "../templates/blocks/popularDefects.njk" %}
    {# О нашем сервисном центре #}
    {% include "../templates/blocks/aboutUs.njk" %}
</div>
{% endblock %}
{% block scripts %}

{% endblock %}
