{% extends "../templates/main/layout.njk" %}
{% block content %}
<div class="container">
    {{macro.breadcrumbs (current='Отзывы')}}
    <h1>Отзывы</h1>
    <img src="./">
    {# Оставить отзыв #}
    {% include "../templates/blocks/page-add-review.njk" %}
    {# Отзывы наших клиентов #}
    {% include "../templates/blocks/page-reviews.njk" %}
    <button class="btn btn_secondary btn_center">Больше отзывов </button>
</div>
<button class="btn page-add-review__up-btn up-btn">Оставить отзыв</button>

{% endblock %}
{% block scripts %}

{% endblock %}
