{% extends "../templates/main/layout.njk" %}
{% block content %}

<div class="container">
    {{macro.breadcrumbs (current='Отзывы')}}
    <h1>Ремонт смартфонов Samsung</h1>
    {# Что мы ремонтируем  #}
    {% include "../templates/blocks/popularModel.njk" %}
    {# Цены #}
    {% include "../templates/blocks/price-table.njk" %}
    {# Распространённые неполадки #}
    {% set defectItems = [
        {image:'../img/defect-img-0.jpg', text:'В айфон попала вода', href:'#'},
        {image:'../img/defect-img-1.jpg', text:'Разбился экран телефона', href:'#'},
        {image:'../img/defect-img-2.jpg', text:'Не работает разъём для наушников', href:'#'},
        {image:'../img/defect-img-3.jpg', text:'Телефон не заряжается', href:'#'},
        {image:'../img/defect-img-0.jpg', text:'В айфон попала вода', href:'#'},
        {image:'../img/defect-img-1.jpg', text:'Разбился экран телефона', href:'#'},
        {image:'../img/defect-img-2.jpg', text:'Не работает разъём для наушников', href:'#'},
        {image:'../img/defect-img-3.jpg', text:'Телефон не заряжается',  href:'#'}
    ] %}
    {% include "../templates/blocks/popularDefects.njk" %}
    {# О нашем сервисном центре #}
    {% include "../templates/blocks/aboutUs.njk" %}
</div>

{% endblock %}
{% block scripts %}

{% endblock %}
