@import "../../../scss/var";
$review--autor--color: $highlight-text-color;
$review--text--color: $highlight-text-color; // #CFD5E5;
$review--date--color: $highlight-text-color-darken; // #A3AECC;
$review--bg--color:$disable--bg-color;
@import "../../../scss/re-var";
.review {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 320px;
  width: 49%;
  padding: 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 2px;
  background: $review--bg--color;
  &__header,
  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__footer {
    margin-top: 10px;
  }
  &__autor {
    margin: 0;
    font-size: rem(24);
    font-weight: normal;
    color: $review--autor--color;
  }
  &__text {
    flex-grow: 1;
    width: 100%;
    max-height: 220px;
    overflow: hidden;
    margin: 0;
    font-size: rem(18);
    color: $review--text--color;
  }
  &__link {
    align-self: flex-end;
    cursor: pointer;
  }
  &__date {
    align-self: flex-end;
    color: $review--date--color;
  }
}

.review-modal {
  .modal__wrapper {
    padding: 0;
    background-color: transparent;
  }
  .review {
    // margin: 0;
    // align-self: flex-start;
    padding: 30px 60px;
    background-color: $bg-color;
    &__text {
      max-height: 60vh;
      overflow-y: scroll;
      flex-grow: unset;
    }
    &__footer {}
  }
}

@media (max-width: 425px) {
  .review {
    max-height: 289px;
    width: 100%;
    padding: 12px;
    &__text {
      font-size: rem(14);
      line-height: rem(16);
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .review-modal {
    .modal__wrapper {}
    .review {
      max-height: none;
      height: 100vh; // margin: 0;
      // align-self: flex-start;
      padding: 16px;
      background-color: $bg-color;
      &__autor {
        font-size: rem(18);
        width: 100%;
      }
      &__text {
        max-height: none;
        overflow-y: scroll;
        flex-grow: 1;
        font-size: rem(14);
      }
    }
  }
}
