{% macro review (autor, class, stars=5, href='#', reviewDate, text) %}

<article class="review {{ class }}">
    <div class="review__header">
        <h3 class="review__autor">{{autor}}</h3>
        <div class="ec-rating-stars review__stars">
            {% for i in range(1, 6) -%}
                {% if i <= stars %}
                    <svg class="rating-star active" data-rating="1" width="16" height="14">
                        <use xlink:href="#icn-star"></use>
                    </svg>
                {% else %}
                    <svg class="rating-star" data-rating="1" width="16" height="14">
                        <use xlink:href="#icn-star"></use>
                    </svg>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <p class="review__text">
        {{ text }}
    </p>

    <div class="review__footer">
        <a href="{{href}}" class="link link_text review__link">
            Читать полностью
        </a>
        <div class="review__date">
            {{reviewDate}}
        </div>
    </div>
</article>

{% endmacro %}
