@import "./var";
$rating-stars-main:$highlight;
.ec-rating-stars {
  display: flex;
  float: none;
  width: auto;
  height: auto;
  padding: 10px 0;
  margin: 0;
  background: none;
  &::before,
  &::after {
    display: none;
    content: '';
  }
}

.rating-star {
  margin: 0 4px;
  fill: transparent;
  fill-rule: nonzero;
  stroke: $rating-stars-main;
  stroke-width: 1;
  stroke-linejoin: miter;
  stroke-linecap: round;
  &:hover {
    cursor: pointer;
  }
}

.rating-star.active {
  fill: $rating-stars-main;
}
