@font-face {
  font-family: 'PT Astra Sans';
  src: url('../fonts/PTAstraSans-Regular.eot');
  src: local('☺'), url('../fonts/PTAstraSans-Regular.woff') format('woff'), url('../fonts/PTAstraSans-Regular.ttf') format('truetype'), url('../fonts/PTAstraSans-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('../fonts/UniNeue-HeavyItalic.eot');
  src: local('☺'), url('../fonts/UniNeue-HeavyItalic.woff') format('woff'), url('../fonts/UniNeue-HeavyItalic.ttf') format('truetype'), url('../fonts/UniNeue-HeavyItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
