@import "./var";
@import "./re-var";
@import "../templates/library/link/link";
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $desktop-font-size;
  font-weight: normal;
  background-color: $bg-color;
  color: $text--color;
}

.rouble::after {
  content: "";
  font-family: awesome, sans-serif;
  font-size: 0.8em;
  margin-left: 5px;
}

.main {
  display: block;
  flex-grow: 1; // padding-top: 70px;
  padding-bottom: 70px;
}

svg {
  fill: $highlight;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: $highlight;
  &:hover {
    color: $link--main;
  }
}

h1,
.title {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.2em;
  font-family: $font-family;
  font-size: em(80);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
  color: $header--color;
}

h2,
.h2-title {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.2em;
  font-size: em(32);
  font-weight: bold;
  line-height: 1.2;
  color: $text--color;
}

h3,
.h3-title {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.2em;
  font-size: em(24);
  color: $text--color;
}

h4,
.h4-title {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.2em;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5;
}

ul,
ol {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

p {
  font-size: em(16);
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: left;
  color: $text--color;
}

.overflow-hidden {
  overflow: hidden;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

// scrollbar
/* width */

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

/* Track */

::-webkit-scrollbar-track {
  border-radius: 4px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: $highlight;
}

.noscroll {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.breadcrumbs {
  margin: 2em 0 1em;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    display: inline;
    font-family: $font-family;
    font-size: rem(18);
    font-weight: 300;
    letter-spacing: -0.4px;
    text-align: left;
    color: $highlight;
    &::after {
      font-weight: bold;
      padding: 4px;
      color: $highlight-text-color;
      content: '·';
    }
    &:last-child {
      color: $highlight-text-color;
      &::after {
        content: '';
      }
    }
  }
}

.breadcrumbs+h1,
.breadcrumbs+.title,
.breadcrumbs+section {
  margin-top: 0;
}

// @media (max-width: 1200px) {
//   .container {
//     padding: 0 20px;
//     box-sizing: border-box;
//   }
// }
@media (max-width: 768px) {
  h1,
  .title {
    font-size: rem(40);
  }
  h2,
  .h2-title {
    font-size: em(24);
  }
  .breadcrumbs {
    display: none;
  }
}

@media (max-width: 425px) {
  body {
    font-size: em(14);
  }
  h1,
  .title {
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    font-size: em(20px, 14);
    line-height: 1.3;
  }
  h2,
  .h2-title {
    width: 100%;
    font-weight: bold;
    font-size: em(18px, 14);
    line-height: 1.3;
    text-align: center;
  }
  h3,
  .h3-title {
    font-size: em(16px, 14);
    line-height: 1.3;
    text-align: center;
  }
  article {
    // padding: 0 20px;
    h1 {
      font-size: em(18px, 14);
      text-align: center;
    }
    h2,
    h3 {
      font-size: em(16px, 14);
      text-align: left;
    }
    h4 {
      font-size: em(14px, 14);
    }
    p,
    li {
      font-size: rem(14);
    }
  }
}
