// миксин
@function minify-lighten($color, $proc) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);
  $bm-red: $red+((225-$red)/100)*($proc);
  $bm-green: $green+((225-$green)/100)*($proc);
  $bm-blue: $blue+((225-$blue)/100)*($proc);
  @return rgb($bm-red, $bm-green, $bm-blue);
}

@function minify-darken($color, $proc) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);
  $bm-red: $red+((-$red)/100)*($proc);
  $bm-green: $green+((-$green)/100)*($proc);
  $bm-blue: $blue+((-$blue)/100)*($proc);
  @return rgb($bm-red, $bm-green, $bm-blue);
}

@function minify-transparentize($color, $k) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);
  @return rgba($red, $green, $blue, $k);
}
