@import "./var";
//======================================
//========== button ====================
//======================================
$btn--color:#FFF;
//======================================
//========== text ======================
//======================================
$text--color: $highlight-text-color;
//======================================
//========== link ======================
//======================================
// $link--main: $highlight;
// $link--hover: #FF473B; // !!!!!!!!!!!!!!!!
//======================================
//========== input =====================
//======================================
$input--main--color: $highlight;
$input--color--focus:#FFF;
// $input--border-radius: 2px;
// $input--color--focus: $highlight-text-color;
//input .disabled
$input--bg-color: $disable--bg-color;
$input--color--disable: $disable--color;
//======================================
//========== textarea =====================
//======================================
// $textarea--main--color: $highlight;
// $textarea--color: $highlight-text-color;
// $textarea--border-radius: 2px;
// $textarea--color--focus: $highlight-text-color;
$textarea--color--focus:#FFF;
//textarea .disabled
$textarea--bg-color: $disable--bg-color;
$textarea--color--disable: $disable--color;
//======================================
//========== category-link =============
//======================================
$category-link--color--hover:#FFFFFF;
//======================================
//========== review ====================
//======================================
$review--autor--color:#fff;
