@import "./mixins";
$desktop-font-size: 16px;
$mobile-font-size: 14px;
//цвет акцента
$highlight: #309c30; // #d0dd1d; //
$bg-color:#0F1626;
$highlight-text-color: #CFD5E5; //цвет текста элементов с акцентом (цвет текста на фоне с заливкой акцента)
$highlight-text-color-darken: #A3AECC; //цвет текста элементов с акцентом 2 (не активный цвет текста  инпутов и т.п.)
$header--color:#FFFFFF;
$form-header--color:$header--color;
$disable--bg-color: #2A2F3D;
$disable--color: #596380;
// Text
$font-family: "PT Astra Sans",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-text: "PT Astra Sans",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-title: "Uni Neue",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$desktop-font-size: 16px;
//px to em function
@function em($pixels, $context: $desktop-font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}

//px to rem function
@function rem($pixels, $context: $desktop-font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}
