{% from "../input/input.njk" import input %}
{% from "../textarea/textarea.njk" import textarea %}
{% macro orderForm (
class,
titleText, titleClass,
subTitleText, subTitleClass,
content, contentClass,

bottomTitleText, bottomTitleClass
) %}

<from class="order-form {{class}}">
    <h3 class="order-form__title {{titleClass}}">{{titleText}}</h3>
    <p class="order-form__sub-title {{subTitleClass}}">{{subTitleText}}</p>

    {{input (placeholder='Эл. почта', class='' )}}
    {{textarea (placeholder='Текст вопроса', class='order-form__textarea' ) }}
{# , param={'rows':'10'} #}
    <input type="submit" class="btn order-form__btn" value="Отправить">

    <p class="order-form__bottom-title {{bottomTitleClass}}">{{bottomTitleText | safe}}</p>
</from>

{% endmacro %}
