@import "../../../scss/var";
$order-form--title--color:#fff;
$order-form--text--color: $highlight-text-color; // #CFD5E5;
$order-form--date--color: $highlight-text-color-darken; // #A3AECC;
.order-form {
  height: auto;
  width: 387px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #2A2F3D;
  &>* {
    margin: 0 0 10px;
    width: 100%;
  }
  &__title {
    width: 100%;
    color: $order-form--title--color;
    text-align: left;
  }
  &__sub-title {
    width: 100%;
    color: $order-form--text--color;
    text-align: left;
  }
  &__bottom-title {
    width: 100%;
    color: $order-form--text--color;
  }
  &__textarea {
    height: 120px;
  }
}

@media (max-width: 425px) {
  .order-form {
    width: 100%;
    padding: 0;
    margin-top: 12px;
    border: none;
    &__title {
      margin: 0;
    }
    &__textarea {
      height: 64px;
    }
  }
}
