<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Document</title>
    <!-- build:css css/vendor.css -->
    <link rel="stylesheet" href="css/lib/ec.uplinkweb.css">

<link rel="stylesheet" href="css/lib/swiper.min.css">

<link rel="stylesheet" href="css/lib/select2.css">
    <!-- endbuild -->
    <!-- build:css css/main.css -->
<link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->
</head>
