{% from "../library/header/header.njk" import header %}

{# меню #}
{# меню - подклучение макроса #}
{% from "../library/menu/menu.njk" import menu %}
{# меню - создание обектов иерархии#}
{% set menuItems = [
        {'link':'#', 'text':'Услуги', 'subMenuItems':[
            {'link':'#', 'text':'Все услуги' },
            {'link':'#', 'text':'Ремонт айфонов' },
            {'link':'#', 'text':'Ремонт смартфонов' },
            {'link':'#', 'text':'Ремонт компьютеров' },
            {'link':'#', 'text':'Ремонт ноутбуков' },
            {'link':'#', 'text':'Ремонт планшетов' },
            {'link':'#', 'text':'Ремонт фотоаппаратов' }
        ]},
        {'link':'#', 'text':'Проблемы' },
        {'link':'#', 'text':'Бренды' },
        {'link':'#', 'text':'Отзывы' },
        {'link':'#', 'text':'О компании' },
        {'link':'#', 'text':'Контакты' }
    ]

%}
{% set mFooter %}
    <div class="logo menu-footer__logo">
        <a  class="logo__link" href="./index.html">
            {# <img src="./temp-img/img-logo.png" alt="Лого" class="logo__img"> #}
            <svg width="17" height="45">
                <use xlink:href="#icn-i"></use>
            </svg>
            <svg width="194" height="45">
                <use xlink:href="#icn-Service"></use>
            </svg>
        </a>
    </div>
    <div class="menu-footer__cell">
        <div class="menu-footer__info">
            <div class="menu-footer__adress">
                Москва, ул. Дмитровоградская, 98
            </div>
            <div class="menu-footer__phone">
                8-800-500-4888
            </div>
            <div class="menu-footer__email">
                info@iservice.ru
            </div>
        </div>
    </div>
    <button class="btn menu-footer__btn phone__order show-modal">Заказать обратный звонок</button>
{% endset %}
{# меню - вызов макроса #}
{# {{menu (menuItems) }} #}
{{ header(inner= menu(menuItems, mobileFooter=mFooter) ) }}


