<!DOCTYPE html>
<html lang="ru">
{% include "./head.njk" %}
<body>
{% include "./header.njk" %}
{% import "../helpers/macro.njk" as macro %}
<main class="main">
    {% block content %}{% endblock %}
</main>
{% include "./modal.njk" %}
{% include "./svg-sprite.njk" %}
{% include "./footer.njk" %}
<!-- build:js js/vendor.js -->
<script src="./js/lib/jquery-3.2.1.min.js"></script>
<script src="./js/lib/swiper.min.js"></script>
<script src="./js/lib/select2.js"></script>
<!-- endbuild -->
<!-- build:js js/main.js -->
<script src="./js/main.js"></script>
<script src="./js/allLib.js/allLib.js"></script>

<script>
    {# let modal1obj = document.querySelector('.order-modal');
    let modal1 = new Modal(modal1obj, '.show-modal');

    let modal2obj = document.querySelector('.thanks-modal');
    let modal2 = new Modal(modal2obj, '.link'); #}
    var jsonModals  = [
        {
            obj : '.order-modal',
            caller : '.show-modal'
        },
        {
            obj : '.thanks-modal',
            caller : '.rem-category__link'
        },
        {
            obj : '.review-modal',
            caller : '.review__link',
            onModalOpen :  function (){myModalSwiper.update()},
        }
    ];
    createModals(jsonModals);
</script>

<!-- endbuild -->
{% block scripts %}{% endblock %}
</body>
</html>
