<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icn-star" viewbox="0 0 14 12">
        <path d="M7.331.197l1.781 3.79 4.559.352c.316.024.445.379.205.566l-3.458 2.693 1.036 4.007c.072.279-.264.498-.535.35L7 9.831l-3.918 2.124c-.272.147-.607-.072-.535-.35l1.036-4.007L.124 4.904c-.24-.187-.112-.541.205-.566l4.559-.352L6.669.197c.124-.263.538-.263.662 0z"
        />
    </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icn-arrow-prev" viewbox="0 0 24 48">
        <path d="M3.11005 23.9987L23.6217 2.32116C24.1261 1.78802 24.1261 0.932991 23.6217 0.399853C23.1172 -0.133284 22.3082 -0.133284 21.8037 0.399853L0.378346 23.0431C-0.126116 23.5763 -0.126116 24.4313 0.378346 24.9644L21.8037 47.5976C22.0512 47.8592 22.3843 48 22.7079 48C23.0315 48 23.3647 47.8692 23.6121 47.5976C24.1166 47.0645 24.1166 46.2095 23.6121 45.6763L3.11005 23.9987Z"/>
    </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icn-hamburger" viewbox="0 0 22 16">
        <path d="M0 0H22V2H0V0Z"/>
        <path d="M0 7H22V9H0V7Z"/>
        <path d="M0 14H22V16H0V14Z"/>
    </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icn-close" viewbox="0 0 18 16">
        <path d="M1.6958 0C1.89024 0 2.07637 0.0788357 2.21166 0.218492L16.3201 14.782C16.7615 15.2377 16.4386 16 15.8042 16C15.6098 16 15.4236 15.9212 15.2883 15.7815L1.17993 1.21799C0.738514 0.762337 1.06139 0 1.6958 0Z"/>
        <path d="M1.70711 16C1.07714 16 0.761654 15.2383 1.20711 14.7929L15.7929 0.207107C15.9255 0.0744989 16.1054 0 16.2929 0C16.9229 0 17.2383 0.761654 16.7929 1.20711L2.20711 15.7929C2.0745 15.9255 1.89464 16 1.70711 16Z"/>
    </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewbox="0 0 28 20">
        <path d="M10.3742 19.7811C10.5582 19.9281 10.7792 20.0001 10.9992 20.0001C11.2752 20.0001 11.5501 19.8861 11.7471 19.6641L27.7472 1.66413C28.1142 1.25213 28.0772 0.619131 27.6642 0.253131C27.2502 -0.114869 26.6192 -0.0768692 26.2521 0.336131L10.8832 17.6261L1.62415 10.2191C1.19415 9.87413 0.56315 9.94613 0.21915 10.3751C-0.12585 10.8071 -0.05585 11.4361 0.37515 11.7811L10.3742 19.7811Z" transform="translate(0.000976562)"/>
    </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icn-category-iphone" viewBox="0 0 50 100">
        <path d="M40.6923 0H9.30769C6.83914 0 4.47169 1.08649 2.72616 3.02046C0.98063 4.95443 0 7.57746 0 10.3125V89.6875C0 91.0418 0.240751 92.3828 0.708507 93.6339C1.17626 94.8851 1.86186 96.0219 2.72616 96.9795C3.59046 97.9371 4.61653 98.6968 5.74579 99.215C6.87505 99.7333 8.08539 100 9.30769 100H40.6923C41.9146 100 43.1249 99.7333 44.2542 99.215C45.3835 98.6968 46.4095 97.9371 47.2738 96.9795C48.1381 96.0219 48.8237 94.8851 49.2915 93.6339C49.7593 92.3828 50 91.0418 50 89.6875V10.3125C50 8.95824 49.7593 7.61725 49.2915 6.36608C48.8237 5.11491 48.1381 3.97807 47.2738 3.02046C46.4095 2.06286 45.3835 1.30324 44.2542 0.784992C43.1249 0.26674 41.9146 0 40.6923 0ZM46.1538 89.6875C46.1538 90.4821 46.0126 91.269 45.7381 92.0032C45.4636 92.7373 45.0613 93.4044 44.5542 93.9663C44.047 94.5282 43.445 94.9739 42.7823 95.278C42.1197 95.5821 41.4095 95.7386 40.6923 95.7386H9.30769C7.8592 95.7386 6.47004 95.1011 5.4458 93.9663C4.42156 92.8315 3.84615 91.2924 3.84615 89.6875V10.3125C3.84615 8.70764 4.42156 7.16851 5.4458 6.0337C6.47004 4.89889 7.8592 4.26136 9.30769 4.26136H11.5385C11.5385 5.39155 11.9437 6.47544 12.665 7.2746C13.3863 8.07376 14.3646 8.52273 15.3846 8.52273H34.6154C35.6354 8.52273 36.6137 8.07376 37.335 7.2746C38.0563 6.47544 38.4615 5.39155 38.4615 4.26136H40.6923C41.4095 4.26136 42.1197 4.41788 42.7823 4.72198C43.445 5.02608 44.047 5.4718 44.5542 6.0337C45.0613 6.5956 45.4636 7.26267 45.7381 7.99683C46.0126 8.73099 46.1538 9.51785 46.1538 10.3125V89.6875Z"/>
    </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icn-category-smartphone" viewBox="0 0 50 100">
        <path d="M48.0769 0H1.92308C1.41305 0 0.923903 0.25085 0.563257 0.697365C0.20261 1.14388 0 1.74948 0 2.38095V97.619C0 98.2505 0.20261 98.8561 0.563257 99.3026C0.923903 99.7491 1.41305 100 1.92308 100H48.0769C48.587 100 49.0761 99.7491 49.4367 99.3026C49.7974 98.8561 50 98.2505 50 97.619V2.38095C50 1.74948 49.7974 1.14388 49.4367 0.697365C49.0761 0.25085 48.587 0 48.0769 0ZM46.1539 4.76191V9.52381H3.84615V4.76191H46.1539ZM46.1539 14.2857V76.1905H3.84615V14.2857H46.1539ZM3.84615 95.2381V80.9524H46.1539V95.2381H3.84615Z"/>
        <path d="M28.8462 85.7143H21.1538C20.6438 85.7143 20.1547 85.9651 19.794 86.4116C19.4334 86.8582 19.2308 87.4638 19.2308 88.0952C19.2308 88.7267 19.4334 89.3323 19.794 89.7788C20.1547 90.2253 20.6438 90.4762 21.1538 90.4762H28.8462C29.3562 90.4762 29.8453 90.2253 30.206 89.7788C30.5666 89.3323 30.7692 88.7267 30.7692 88.0952C30.7692 87.4638 30.5666 86.8582 30.206 86.4116C29.8453 85.9651 29.3562 85.7143 28.8462 85.7143Z"/>
    </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icn-category-computer" viewBox="0 0 100 82">
        <path d="M92.8566 0H7.14281C5.24842 0 3.43162 0.714899 2.09208 1.98743C0.752544 3.25995 0 4.98587 0 6.7855V61.0695C0 62.8691 0.752544 64.595 2.09208 65.8676C3.43162 67.1401 5.24842 67.855 7.14281 67.855H37.5712C36.2944 69.8404 34.42 71.4162 32.1903 72.3787C29.9998 73.6453 27.9046 74.8214 27.4284 76.9023C27.3719 77.6047 27.4889 78.3099 27.7699 78.9618C28.051 79.6136 28.4885 80.1941 29.0474 80.657C29.2835 80.9131 29.5774 81.1152 29.9073 81.2484C30.2371 81.3815 30.5942 81.4422 30.9522 81.426H69.0472C69.6752 81.4175 70.2742 81.1736 70.7138 80.7474C71.2728 80.2846 71.7103 79.7041 71.9913 79.0522C72.2724 78.4004 72.3894 77.6952 72.3329 76.9928C72.0472 74.8214 69.9519 73.6453 67.571 72.4691C65.3413 71.5067 63.4668 69.9309 62.1901 67.9455H92.8566C93.8026 67.9455 94.7393 67.7671 95.6122 67.4204C96.485 67.0738 97.2767 66.5659 97.9413 65.9262C98.6058 65.2865 99.1299 64.5277 99.4832 63.694C99.8365 62.8603 100.012 61.9682 99.9994 61.0695V6.7855C99.9994 4.98587 99.2468 3.25995 97.9073 1.98743C96.5677 0.714899 94.7509 0 92.8566 0ZM7.14281 4.52367H92.8566C93.488 4.52367 94.0936 4.76197 94.5401 5.18614C94.9866 5.61032 95.2375 6.18562 95.2375 6.7855V54.284H4.76187V6.7855C4.76187 6.18562 5.01272 5.61032 5.45924 5.18614C5.90575 4.76197 6.51135 4.52367 7.14281 4.52367ZM65.3329 76.3143L66.3805 76.9023H33.6188L34.6664 76.3143C36.5456 75.5176 38.2258 74.3519 39.5965 72.8938C40.9671 71.4358 41.9972 69.7185 42.6188 67.855H57.4282C58.0445 69.7143 59.0673 71.4289 60.4295 72.8867C61.7917 74.3444 63.4626 75.5124 65.3329 76.3143ZM92.8566 63.3313H7.14281C6.51135 63.3313 5.90575 63.093 5.45924 62.6689C5.01272 62.2447 4.76187 61.6694 4.76187 61.0695V58.8077H95.2375V61.0695C95.2375 61.6694 94.9866 62.2447 94.5401 62.6689C94.0936 63.093 93.488 63.3313 92.8566 63.3313Z"/>
    </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icn-category-notebook" viewBox="0 0 100 63">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 63H90C100 63 100 60.375 100 57.75H60C60 60.375 60 60.375 55 60.375H45C40 60.375 40 60.375 40 57.75H0C0 60.9 0 63 10 63Z" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 0C12 0 10 1.575 10 4.2V57.75H89.5V4.2C89.5 2.1 88 0 85.5 0H14ZM18.522 5.25C16.761 5.25 15 6.51 15 8.61V52.5H85V8.61C85 6.93 83.6792 5.25 81.478 5.25H18.522Z"/>
    </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icn-category-tab" viewBox="0 0 82 100">
        <path d="M78.4814 3.33789C76.2544 1.11221 73.5815 0 70.4556 0H11.3639C8.23874 0 5.56356 1.11221 3.33789 3.33789C1.11271 5.56405 9.10993e-08 8.23849 9.10993e-08 11.3639V88.6376C9.10993e-08 91.7635 1.11271 94.4359 3.33789 96.6629C5.56356 98.889 8.23874 100 11.3639 100H70.4553C73.5813 100 76.2544 98.889 78.4814 96.6629C80.7068 94.4359 81.8202 91.762 81.8202 88.6376V11.3642C81.8202 8.23849 80.7043 5.56331 78.4814 3.33789ZM44.106 94.1063C43.2072 95.0054 42.1412 95.4549 40.9096 95.4549C39.6778 95.4549 38.6128 95.0054 37.713 94.1063C36.8133 93.2058 36.3638 92.1401 36.3638 90.9105C36.3638 89.6796 36.8133 88.6122 37.713 87.7147C38.6138 86.8141 39.6788 86.3629 40.9096 86.3629C42.141 86.3629 43.2069 86.8139 44.106 87.7147C45.005 88.6119 45.4562 89.6794 45.4562 90.9105C45.4562 92.1401 45.005 93.2051 44.106 94.1063ZM72.7283 79.5458C72.7283 80.1622 72.5019 80.6934 72.0541 81.1446C71.6031 81.5959 71.0717 81.819 70.4553 81.819H11.3639C10.7485 81.819 10.2159 81.5941 9.76614 81.1446C9.31638 80.6951 9.0915 80.1622 9.0915 79.5458V11.3642C9.0915 10.7485 9.31613 10.2157 9.76614 9.76614C10.2162 9.31613 10.7485 9.0915 11.3639 9.0915H70.4553C71.0717 9.0915 71.6029 9.31538 72.0541 9.76614C72.5036 10.2157 72.7283 10.7485 72.7283 11.3642V79.5458Z"/>
    </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icn-category-camera" viewBox="0 0 100 79">
        <path d="M96.673 12.308C94.6768 10.2089 91.9202 8.9686 88.7833 8.9686H73.0038V8.77778C73.0038 6.39251 72.0532 4.10266 70.4373 2.57609C68.8213 0.954106 66.635 0 64.2586 0H35.7414C33.27 0 31.0837 0.954106 29.4677 2.57609C27.8517 4.19807 26.9011 6.39251 26.9011 8.77778V8.9686H11.2167C8.07985 8.9686 5.32319 10.2089 3.327 12.308C1.3308 14.3116 0 17.1739 0 20.2271V67.7415C0 70.8901 1.23574 73.657 3.327 75.6606C5.32319 77.6643 8.1749 79 11.2167 79H88.7833C91.9202 79 94.6768 77.7597 96.673 75.6606C98.6692 73.657 100 70.7947 100 67.7415V20.2271C100 17.0785 98.7643 14.3116 96.673 12.308ZM95.057 67.7415H94.962C94.962 69.4589 94.2966 70.9855 93.1559 72.1304C92.0152 73.2754 90.4943 73.9432 88.7833 73.9432H11.2167C9.5057 73.9432 7.98479 73.2754 6.84411 72.1304C5.70342 70.9855 5.03802 69.4589 5.03802 67.7415V20.2271C5.03802 18.5097 5.70342 16.9831 6.84411 15.8382C7.98479 14.6932 9.5057 14.0254 11.2167 14.0254H29.5627C30.9886 14.0254 32.1293 12.8804 32.1293 11.4493V8.68237C32.1293 7.63285 32.5095 6.67874 33.1749 6.01087C33.8403 5.343 34.7909 4.96135 35.8365 4.96135H64.2586C65.3042 4.96135 66.2548 5.343 66.9202 6.01087C67.5856 6.67874 67.9658 7.63285 67.9658 8.68237V11.4493C67.9658 12.8804 69.1065 14.0254 70.5323 14.0254H88.8783C90.5894 14.0254 92.1103 14.6932 93.251 15.8382C94.3916 16.9831 95.057 18.5097 95.057 20.2271V67.7415Z"/>
        <path d="M50.0002 20.5133C43.5364 20.5133 37.6428 23.1848 33.4603 27.3829C29.1828 31.6763 26.6162 37.4964 26.6162 43.9843C26.6162 50.4722 29.2778 56.3877 33.4603 60.5858C37.7379 64.8792 43.5364 67.4553 50.0002 67.4553C56.4641 67.4553 62.3577 64.7838 66.5402 60.5858C70.8177 56.2923 73.3843 50.4722 73.3843 43.9843C73.3843 37.4964 70.7227 31.5809 66.5402 27.3829C62.3577 23.1848 56.4641 20.5133 50.0002 20.5133ZM62.928 57.0556C59.601 60.2995 55.0383 62.3986 50.0002 62.3986C44.9622 62.3986 40.3995 60.2995 37.0725 57.0556C33.7455 53.7162 31.7493 49.1365 31.7493 44.0797C31.7493 39.023 33.8405 34.4433 37.0725 31.1039C40.3995 27.7645 44.9622 25.7609 50.0002 25.7609C55.0383 25.7609 59.601 27.8599 62.928 31.1039C66.255 34.4433 68.2512 39.023 68.2512 44.0797C68.3463 49.1365 66.255 53.7162 62.928 57.0556Z"/>
        <path d="M83.8404 29.7682C86.4128 29.7682 88.4982 27.6751 88.4982 25.0931C88.4982 22.5111 86.4128 20.418 83.8404 20.418C81.268 20.418 79.1826 22.5111 79.1826 25.0931C79.1826 27.6751 81.268 29.7682 83.8404 29.7682Z"/>
    </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icn-i" viewbox="0 0 17 45">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9472 0C15.0498 0 16.9966 2.33161 16.3882 5.47927C15.9015 7.86917 13.7723 9.67617 11.0346 9.67617C7.93194 9.67617 5.98517 7.28627 6.59354 4.25518C7.08023 1.69041 9.14867 0 11.9472 0Z" />
        <path d="M7.99278 44.2422C8.66198 44.2422 9.027 43.8925 9.14867 43.3096L14.3806 14.9806C14.5023 14.3394 14.1373 13.9313 13.4072 13.9313H6.35019C5.74182 13.9313 5.31597 14.2228 5.25513 14.8057L0.0231833 43.1347C-0.0984899 43.7759 0.26653 44.2422 0.935732 44.2422H7.99278Z" />
    </symbol>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;" class="icn-Service">
    <symbol id="icn-Service" viewbox="0 0 194 45">
        <path d="M33.3799 33.4003C35.3875 23.5492 26.5662 20.5764 21.0301 18.9443C17.1365 17.8368 14.5814 16.8459 15.0681 14.0479C15.5548 11.7163 17.6232 10.2008 20.9084 10.2008C24.3761 10.2008 27.9654 11.3666 30.7031 13.057C31.2506 13.4067 31.7373 13.3484 32.1632 12.8821L36.4217 7.63601C36.8476 7.1114 36.7867 6.58679 36.2392 6.23705C32.0415 3.26425 27.7829 1.807 22.0035 1.807C13.7905 1.807 7.03765 4.95466 5.57757 13.1153C4.11749 21.3925 10.0186 25.2396 16.5282 27.0466C21.0301 28.2707 24.1327 29.4365 23.646 32.351C23.1593 35.0907 20.0567 36.4313 16.5282 36.4313C12.7563 36.4313 9.53195 35.0907 6.18594 32.5842C5.63841 32.1762 5.09088 32.1762 4.66502 32.7008L0.284784 37.8886C-0.141072 38.4132 -0.0802367 38.9378 0.406456 39.3459C4.54334 42.8433 9.10609 45 15.4939 45C23.4027 45 31.4331 42.4935 33.3799 33.4003Z" transform="translate(0.544434)" />
        <path d="M39.2573 24.307L37.6755 32.7591C36.2763 40.3368 41.8124 45 49.782 45C55.0748 45 59.2117 43.601 62.4969 41.4443C63.0444 41.1529 63.1052 40.6282 62.8619 40.0453L60.3676 35.557C60.0634 34.9158 59.5767 34.8575 58.9683 35.2655C56.5349 36.6645 53.7364 37.5971 51.0596 37.5971C47.7136 37.5971 46.2535 36.0816 46.8619 32.9922L47.0444 32.1762H63.9569C64.5653 32.1762 64.9303 31.8847 65.052 31.3018L66.0862 25.6477C67.7288 17.079 62.1927 13.1153 54.4056 13.1153C47.0444 13.1153 40.7174 16.671 39.2573 24.307ZM57.0216 26.3471H48.1394L48.4436 24.7733C48.9911 22.0337 50.9987 20.5181 53.6147 20.5181C56.7174 20.5181 57.7516 22.5583 57.3258 24.8899L57.0216 26.3471Z" transform="translate(0.544434)" />
        <path d="M76.2188 44.2422C76.8272 44.2422 77.1922 43.8925 77.3139 43.3096L81.2683 21.8005C82.3025 21.3925 83.6409 21.101 85.2227 21.101C86.5002 21.101 87.717 21.2176 88.7512 21.3925C89.4204 21.4508 89.9071 21.1593 89.9679 20.5181L91.063 14.8057C91.1846 14.2228 90.8805 13.7565 90.2113 13.6399C88.447 13.2902 86.8044 13.1153 85.1618 13.1153C81.3291 13.1153 77.4356 13.9896 73.9071 15.5635C73.4204 15.7966 73.1162 16.1464 72.9945 16.671L68.1884 43.1347C68.0667 43.7759 68.4318 44.2422 69.1618 44.2422H76.2188Z" transform="translate(0.544434)" />
        <path d="M106.234 44.2422C106.782 44.2422 107.207 44.0091 107.451 43.4845L122.477 15.0971C122.842 14.3977 122.538 13.9313 121.747 13.9313H114.204C113.595 13.9313 113.169 14.2228 112.926 14.6891L107.147 27.3381C106.052 29.8446 104.957 32.5259 103.861 35.0907H103.74C103.557 32.4676 103.253 29.3782 103.01 27.3964L101.55 14.864C101.489 14.2228 101.063 13.9313 100.455 13.9313H93.3976C92.6675 13.9313 92.3025 14.3394 92.3634 14.9806L97.0478 43.3096C97.1086 43.9508 97.5345 44.2422 98.2037 44.2422H106.234Z" transform="translate(0.544434)" />
        <path d="M129.034 44.2422C129.703 44.2422 130.068 43.8925 130.189 43.3096L135.421 14.9806C135.543 14.3394 135.178 13.9313 134.448 13.9313H127.391C126.783 13.9313 126.357 14.2228 126.296 14.8057L121.064 43.1347C120.942 43.7759 121.307 44.2422 121.977 44.2422H129.034ZM137.429 5.47927C138.037 2.33161 136.091 0 132.988 0C130.189 0 128.121 1.69041 127.634 4.25518C127.026 7.28627 128.973 9.67617 132.075 9.67617C134.813 9.67617 136.942 7.86917 137.429 5.47927Z" transform="translate(0.544434)" />
        <path d="M160.11 42.4935C160.779 42.1438 160.901 41.6775 160.596 41.0946L158.224 36.0816C157.92 35.4987 157.372 35.3821 156.764 35.7319C154.817 36.8394 152.748 37.4223 151.045 37.4223C148.064 37.4223 146.421 35.6153 147.151 32.0596L148.429 25.1813C148.977 22.3251 150.923 20.693 154.148 20.693C155.851 20.693 157.494 21.1593 158.832 21.9171C159.44 22.2668 159.866 22.2085 160.292 21.7422L163.882 17.3122C164.247 16.7876 164.186 16.263 163.699 15.9132C161.266 14.2228 158.285 13.1153 154.452 13.1153C146.726 13.1153 140.642 16.9041 139.304 24.2487L137.965 31.4767C136.444 39.7539 141.433 45 149.646 45C153.296 45 156.824 44.2422 160.11 42.4935Z" transform="translate(0.544434)" />
        <path d="M166.337 24.307L164.755 32.7591C163.356 40.3368 168.892 45 176.862 45C182.154 45 186.291 43.601 189.576 41.4443C190.124 41.1529 190.185 40.6282 189.941 40.0453L187.447 35.557C187.143 34.9158 186.656 34.8575 186.048 35.2655C183.614 36.6645 180.816 37.5971 178.139 37.5971C174.793 37.5971 173.333 36.0816 173.941 32.9922L174.124 32.1762H191.037C191.645 32.1762 192.01 31.8847 192.132 31.3018L193.166 25.6477C194.808 17.079 189.272 13.1153 181.485 13.1153C174.124 13.1153 167.797 16.671 166.337 24.307ZM184.101 26.3471H175.219L175.523 24.7733C176.071 22.0337 178.078 20.5181 180.694 20.5181C183.797 20.5181 184.831 22.5583 184.405 24.8899L184.101 26.3471Z" transform="translate(0.544434)" />
    </symbol>
</svg>
