{% macro menu(menuItems, class, ulClass, mobileFooter) %}
    <div class="hamburger menu-hamburger">
            <svg width="22" height="16">
                <use xlink:href="#icn-hamburger"></use>
            </svg>
            <svg width="22" height="16">
                <use xlink:href="#icn-close"></use>
            </svg>
    </div>

    <nav class="menu {{class}}">
        <ul class="menu__list {{ulClass}}">
            <div class="menu__back">Назад в меню</div>
            {% for item in menuItems %}
                {{ menuItem (link = item.link, linkClass = item.linkClass, text = item.text, class = item.class, subMenuItems = item.subMenuItems) }}
            {% endfor %}
        </ul>
        {% if mobileFooter %}
            <div class="menu-mobile__footer">
                {{mobileFooter | safe}}
            </div>
        {% endif %}
    </nav>
{% endmacro %}

{% macro menuItem(subMenuItems, class, text, link, linkClass) %}
    <li class="menu__item {{class}} {% if subMenuItems %} menu__nested{% endif %}" >
        <a href="{{ link }}" class="menu__link {{ linkClass }}">
            {{ text }}
        </a>
        {% if subMenuItems %}
            <ul class="menu__sub">
                {% for item in subMenuItems %}
                    {{ menuItem (text = item.text, class = item.class, data = item.data) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}
