@import "../../../scss/var";
$menu--main: $highlight;
$menu--bg-color: transparent;
$menu--color:$highlight-text-color;
$menu-link--color: $highlight-text-color;
$menu-sub--bg-color: $disable--bg-color;
// hover
$menu--bg-color--hover: transparent;
$menu-link--bg-color--hover: transparent;
$menu-link--color--hover: $menu--main;
$menu-sub-link--bg-color--hover: $menu--main;
$menu-sub-link--color--hover: #FFFFFF;
// active
$menu-sub-link--bg-color--active: minify-darken($menu--main, 10);
// disable default
$menu--color--disable:$disable--color;
$menu--back--bg-color:$menu--color--disable;
// стандарт
$menu--outline--color:$menu--main;
// disable (disable)
// inport var -- here
@import "../../../scss/re-var";
.menu {
  display: flex;
  align-items: center;
  font-size: 18px;
  z-index: 3;
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  &__item {
    position: relative;
    list-style: none;
    padding: 0;
    &.active {
      .main-nav__link {
        background-color: $menu--bg-color;
        color: $menu--color;
      }
    }
    &:hover {
      .menu__sub {
        display: block;
      }
    }
  }
  &__link {
    padding: 7px 15px;
    display: block;
    color: $menu-link--color;
    text-decoration: none;
    &:hover {
      background-color: $menu-link--bg-color--hover;
      color: $menu-link--color--hover;
    }
  }
  &__sub {
    position: absolute;
    display: none;
    top: 100%;
    min-width: 285px;
    width: auto;
    background-color: $menu-sub--bg-color;
    padding: 12px 0;
    border-radius: 2px;
    z-index: 1;
  }
  &__sub &__link {
    padding: 7px 15px;
    display: block;
    color: $menu-link--color;
    text-decoration: none;
    &:hover {
      background-color: $menu-sub-link--bg-color--hover;
      color: $menu-sub-link--color--hover;
    }
    &:active {
      background-color: $menu-sub-link--bg-color--active;
      color: $menu-sub-link--color--hover;
    }
  }
  &__back {
    display: none;
    padding: 7px 15px;
    background-color: $menu--back--bg-color;
    cursor: pointer;
  }
}

.menu-mobile {
  &__footer {
    display: none;
  }
}

.menu-hamburger {
  order: -1;
  display: none;
  flex-direction: column;
  justify-content: center;
  svg {
    fill: $menu--color;
  }
  svg:nth-child(2) {
    display: none;
  }
  &.open {
    svg:nth-child(1) {
      display: none;
    }
    svg:nth-child(2) {
      display: block;
    }
  }
}

@media (max-width: 1024px) {
  .menu {
    &__link {
      padding: 7px 10px;
    }
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -2.5%;
    width: 280px;
    height: 100vh;
    background-color: $menu-sub--bg-color;
    overflow: hidden;
    &__list {
      flex-direction: column;
      justify-content: flex-start; // align-items: center;
      width: 100%;
      padding: 12px 0 66px;
    }
    &__item {
      &:hover {
        .menu__sub {
          display: none;
        }
      }
      &.open {
        color: $menu-link--color--hover;
        &:hover {
          background-color: transparent;
          color: $menu-link--color--hover;
        }
      }
      &.open>.menu__sub {
        display: block;
      }
    }
    &__link {
      padding: 7px 24px;
      &:active {
        background-color: $menu-sub-link--bg-color--hover; // color: $menu-sub-link--color--hover;
      }
      &:hover {
        background-color: transparent; // color: $menu-link--color;
      }
    }
    &.open {
      display: block;
    }
    &__sub {
      position: static;
      display: none;
      height: 100vh;
      padding: 0 17px;
      box-sizing: border-box;
      z-index: 1;
    }
    &__back {
      // display: none;
      padding: 7px 24px;
    }
  }
  .menu-mobile {
    &__footer {
      display: block; // position: absolute; // bottom: 100px;
      margin: 24px;
      border-top: 1px solid $menu--color--disable;
      left: 0;
    }
  }
  .menu-hamburger {
    display: flex;
    &.open {
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: -2.5%;
        width: 100vw;
        height: 100vh;
        background-color: rgba(#2A2F3D, 0.3);
      }
    }
  }
  .menu-footer {
    &__cell {
      font-size: rem(14);
    }
    &__logo {
      width: 120px;
      height: 30px;
      margin: 20px 0;
      svg {
        fill: $menu--color;
      }
    }
    &__info {
      margin-bottom: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &>* {
        margin-bottom: 8px;
      }
    }
    &__company-name {
      text-align: left;
    }
    &__adress {
      text-align: left;
      width: 100%;
    }
    &__up-link {}
    &__btn {
      width: 100%;
    }
  }
}

@media (max-width: 425px) {
  .menu {}
}
