{% macro textarea(placeholder, class, label, data, prop) %}

{% if label %}
    <label class="textarea__placeholder">{{ label }}</label>
{% endif %}

{% if data %}
    {% set datas %}
        {% for key, val in data %}
            {{ key }}={{ val }}
        {% endfor %}
    {% endset %}
{% endif %}

<textarea class="textarea {{class}}" placeholder="{{placeholder}}" {{prop}} {{ datas }} >
</textarea>

{% endmacro %}
