@import "../../../scss/var";
$textarea--main: $highlight;
$textarea--bg-color: $disable--color;
$textarea--color: $highlight-text-color;
$textarea--color--focus: $highlight-text-color;
$textarea--h: 96px;
$textarea--w: 285px;
$textarea--mobile--h: 64px;
$textarea--mobile--w: 100%;
$textarea--border-radius: 0px;
$textarea--border-radius: 2px;
//disable default
$textarea--color--disable:$disable--color;
//стандарт
$textarea--outline--color:$textarea--main;
//inport var -- here
@import "../../../scss/re-var";
//disable (disable)
@import "../input/input";
.textarea {
  background-color: $textarea--bg-color;
  color: $textarea--color;
  box-sizing: border-box;
  height: $textarea--h;
  width: $textarea--w;
  padding: 14px 20px;
  font-family: $font-family;
  font-size: rem(18);
  border: 0;
  border-radius: $textarea--border-radius;
  &::placeholder {
    color: $textarea--color;
    opacity: 1;
  }
  &:active,
  &.active {}
  &.disabled {
    outline: none;
    color: $textarea--color--disable;
    cursor: not-allowed;
    pointer-events: none;
    &::placeholder {
      color: $textarea--color--disable;
      opacity: 1;
    }
  }
  &:not(.disable):focus {
    outline: $textarea--outline--color auto 5px;
    color: $textarea--color--focus;
  }
}

@media (max-width: 425px) {
  .textarea {
    height: $textarea--mobile--h;
    width: $textarea--mobile--w;
    padding: 7px 12px;
    font-size: rem(16);
  }
}
