{% macro categoryLink(svg, img, text, class, href='#') %}
<div class="category-link__wrapper">
    <a href="{{href}}" class="category-link {{ class }}">
        {# {{svg}} #}

        {% if svg %}
        <svg width="100" height="100">
            <use xlink:href="{{svg}}"></use>
        </svg>
        {% endif %}
        {% if img %}
        <img class="category-link__img" src="{{img}}"> {#  width="100" height="100" #}
        {% endif %}
        <span class="category-link__text">
            {{ text }}
        </span>
    </a>
</div>

{% endmacro %}

