@import "../../../scss/var";
$category-link--main: $highlight;
$category-link--color: $highlight-text-color-darken;
$category-link--color--hover: $highlight-text-color;
//re colors
$category-link--svg: $category-link--color;
// ---
$category-link--border:1px solid $category-link--color;
//hover
$category-link--svg--hover:$category-link--main;
$category-link--border--hover:1px solid $category-link--main;
//стандарт
$category-link--outline--color:$category-link--main;
//disable (disable)
@import "../../../scss/re-var";
.category-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%; // margin: 10px 10px;
  padding: 20px;
  border: $category-link--border;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  &__wrapper {
    width: 183px;
    height: 183px;
    padding: 10px;
  }
  &__text {
    color: $category-link--color;
    text-align: center;
    font-size: rem(18);
  }
  &:hover &__text {
    color: $category-link--color--hover;
  }
  &:hover {
    border: $category-link--border--hover;
    svg {
      fill: $category-link--svg--hover;
    }
  }
  svg {
    fill: $category-link--svg;
  }
  &__img {
    max-height: 100px;
  }
  &_btn {
    & .category-link {
      &__text {
        margin: auto 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .category-link {
    svg,
    &__img {
      max-height: 76px;
    }
    &__wrapper {
      width: 160px;
      height: 160px;
      padding: 6px;
    }
  }
}

@media (max-width: 425px) {
  .category-link {
    // width: 150px;
    // height: 150px;
    // margin: 4px auto;
    padding: 15px;
    svg,
    &__img {
      max-height: 76px;
    }
    &__wrapper {
      width: 140px;
      height: 140px;
      padding: 4px;
    }
  }
}
