{% macro modal(modalClass, content, contentClass, headerText, headerTextClass, header, headerClass ) %}

    <div class="modal {{modalClass}}">
        <div class="modal__wrapper">

            {% if headerText %}
            <div class="modal__header {{headerClass}}">
                <h2 class="modal__title {{headerTextClass}}">{{headerText}}</h2>
                {{header | safe}}
            </div>
            {% endif %}
            <div class="modal__content {{contentClass}}">
                {{ content | safe}}
            </div>

            <div class="modal__close">
                <svg width="22" height="16">
                    <use xlink:href="#icn-close"></use>
                </svg>
            </div>
        </div>
    </div>

{% endmacro %}
