@import "../../../scss/var";
$modal--bg-color:$bg-color;
$modal--title--color:$form-header--color;
.modal {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10; // background-color: rgba(#000, 0.5);
  &__wrapper {
    position: relative;
    padding: 30px 60px;
    border-radius: 2px;
    background-color: $modal--bg-color;
    box-sizing: border-box;
  }
  &__title {
    margin: 0;
    flex-grow: 1; // flex: 1;
    font-size: rem(24);
    text-align: left;
    color: $modal--title--color;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__close {
    position: absolute;
    top: 12px;
    left: 100%;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
    svg {
      width: 24px;
      height: 24px;
      fill: #FFFFFF;
    }
    &:before {
      content: '';
      position: absolute;
      width: 200vw;
      height: 200vh;
      top: -100vh;
      left: -100vw;
      z-index: -1;
      background-color: rgba(#000, 0.5);
    }
  }
  &__open {
    display: flex;
  }
}

@media (max-width: 600px) {
  .modal {
    &__close {
      position: absolute;
      left: auto;
      right: 0;
      padding: 12px;
      z-index: 1;
      &:before {
        display: none;
      }
    }
  }
}

@media (max-width: 425px) {
  .modal {
    &__wrapper {
      padding: 16px;
      width: 100vw;
      height: 110vh;
    }
  }
}
