$header--main:#FF823B;
$header--bg-color: transparent; //#0F1626
$header--color:#CFD5E5; //#FFFFFF
// $header--color--focus:#FFF;
// $header--h:48px;
// $header--w:285px;
// $header--mobile--h:32px;
// $header--mobile--w:100%;
// $header--border-radius:0px;
$header-link--color: #CFD5E5;
$header-sub--bg-color: #2A2F3D;
// hover
$header--bg-color--hover: $bg-color; // transparent;
$header-link--bg-color--hover: transparent;
$header-link--color--hover: $header--main;
$header-sub-link--bg-color--hover: $header--main;
$header-sub-link--color--hover: #FFFFFF;
//disable default
$header--color--disable:#596380;
//inport var -- here
@import "../../../scss/var";
//стандарт
$header--outline--color:$header--main;
//disable (disable)
.header {
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100vw;
  background: $header--bg-color--hover;
}

.header-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 105px;
}

.header-logo {
  width: 209px; // 20%;
  height: 45px;
  &__link {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  svg {
    fill: #FFF;
  }
  svg:nth-child(2) {
    fill: $highlight;
  }
}

.header-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: wrap;
  text-align: left;
  &__number {
    font-size: rem(24);
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    align-self: flex-end;
    &:hover {
      color: #FFFFFF;
    }
  }
  &__order {
    font-size: rem(14);
    align-self: flex-end;
  }
}

@media (max-width: 1024px) {
  .header-cell {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .header-row {
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .header-logo {
    width: 160px;
  }
  .header-cell {
    margin: 0;
  }
}

@media (max-width: 425px) {
  .header-row {
    height: auto; // 48px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .header-logo {
    width: 80px;
    height: 32px;
  }
  .header-phone {
    &__number {
      font-size: rem(16);
    }
  }
  .header-phone {
    &__order {
      display: none;
    }
  }
}
