{% macro header(class, inner) %}
    <header class="header {{class}}">
        <div class="container header-row">
            <div class="header-cell logo  header-logo">
                {# <div class="logo"> #}
                    <a  class="header-logo__link" href="./index.html">
                        {# <img src="./temp-img/img-logo.png" alt="Лого" class="logo__img"> #}
                        <svg width="17" height="45">
                            <use xlink:href="#icn-i"></use>
                        </svg>
                        <svg width="194" height="45">
                            <use xlink:href="#icn-Service"></use>
                        </svg>
                    </a>
                {# </div> #}
            </div>
            {{inner}}
            <div class="header-cell header-cell_phone">
                <div class="phone header-phone">
                    <a href="tel:8-800-555-35-35" class="phone__number header-phone__number">8-800-555-35-35</a>
                    <button class="btn_text link header-phone__order show-modal">заказать обратный звонок</button>
                </div>
            </div>
        </div>
    </header>
{% endmacro %}
