@import "../../../scss/var";
$tag--main: #2A2F3D;
$tag--color:#565D72;
$tag--hover--color: $bg-color;
$tag--bg--hover:#A3AECC;
//inport var -- here
@import "../../../scss/re-var";
.tag {
  display: inline;
  padding: 4px 10px;
  margin: 1px;
  background: transparent;
  border: 1px solid $tag--main;
  border-radius: 2px;
  box-sizing: border-box;
  color: $tag--color;
  outline: none;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
  &:active,
  &.active {
    color: $tag--hover--color;
    background-color: minify-darken($tag--bg--hover, 20);
    border: 1px solid minify-darken($tag--bg--hover, 20);
  }
  &:hover {
    color: $tag--hover--color;
    background-color: $tag--bg--hover;
    border: 1px solid $tag--bg--hover;
  }
  &_text {
    border: none;
    &:hover {
      border: none;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  height: auto;
}
