{% macro pageTitle (bgImgClass, textClass, text) %}
    <div class="pageTitle__bg-img {{bgImgClass}}">
        <h1 class="pageTitle__text {{textClass}}"> {{text | safe}}</h1>
    </div>
{% endmacro %}
