$pageTitle--main:#FF823B;
$pageTitle--bg-color: transparent; //#0F1626
$pageTitle--color:#CFD5E5; //#FFFFFF
// $pageTitle--color--focus:#FFF;
// $pageTitle--h:48px;
// $pageTitle--w:285px;
// $pageTitle--mobile--h:32px;
// $pageTitle--mobile--w:100%;
// $pageTitle--border-radius:0px;
$pageTitle-link--color: #CFD5E5;
$pageTitle-sub--bg-color: #2A2F3D;
// hover
$pageTitle--bg-color--hover: transparent;
$pageTitle-link--bg-color--hover: transparent;
$pageTitle-link--color--hover: $pageTitle--main;
$pageTitle-sub-link--bg-color--hover: $pageTitle--main;
$pageTitle-sub-link--color--hover: #FFFFFF;
//disable default
$pageTitle--color--disable:#596380;
//inport var -- here
@import "../../../scss/var";
//стандарт
$pageTitle--outline--color:$pageTitle--main;
//disable (disable)
.pageTitle {
  &__text {
    color: #FFF;
    text-align: center;
    font-family: $font-title;
    line-height: normal;
    font-size: rem(80);
    margin: 0;
  }
  &__bg-img {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../img/pageTitle-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

@media (max-width: 768px) {
  .pageTitle {
    &__text {
      font-size: rem(52);
    }
    &__bg-img {
      height: 300px;
    }
  }
}

@media (max-width: 425px) {
  .pageTitle {
    &__text {
      font-size: rem(32);
    }
    &__bg-img {
      height: 240px;
    }
  }
}
