{% macro input(placeholder, class, label, data, prop) %}

{% if label %}
    <label class="input__placeholder">{{ label }}</label>
{% endif %}

{# data-focuslen - количесво символов для перевода фокуса #}
{# data-focusEnter - перевода фокуса  на след элемент при нажатии на Enter поумолчанию не имеет true #}

{% if data %}
    {% set datas %}
        {% for key, val in data %}
            data-{{ key }}={{ val }}
        {% endfor %}
    {% endset %}
{% endif %}

<input type="text" class="input {{class}}" placeholder="{{placeholder}}" {{ datas }} {{prop}}>

{% endmacro %}
