@import "../../../scss/var";
$input--main: $highlight;
$input--bg-color: $disable--color;
$input--color: $highlight-text-color;
$input--color--focus: $highlight-text-color;
$input--h: 48px;
$input--w: 285px;
$input--mobile--h: 32px;
$input--mobile--w: 100%;
$input--border-radius: 0px;
//disable default
$input--color--disable: $disable--color;
//стандарт
$input--outline--color: $input--main;
//disable (disable)
//inport var -- here
@import "../../../scss/re-var";
.input {
  background-color: $input--bg-color;
  color: $input--color;
  box-sizing: border-box;
  height: $input--h;
  width: $input--w;
  padding: 14px 20px;
  font-family: $font-family;
  font-size: rem(18);
  border: 0;
  border-radius: $input--border-radius;
  &::placeholder {
    color: $input--color;
    opacity: 1;
  }
  &:active,
  &.active {}
  &.disabled {
    outline: none;
    color: $input--color--disable;
    cursor: not-allowed;
    pointer-events: none;
    &::placeholder {
      color: $input--color--disable;
      opacity: 1;
    }
  }
  &:not(.disable):focus {
    outline: $input--outline--color auto 5px;
    color: $input--color--focus;
  }
}

@media (max-width: 425px) {
  .input {
    height: $btn--mobile--h;
    width: $btn--mobile--w;
    padding: 7px 12px;
    font-size: rem(16);
  }
}
